/*** Main Content ***/

.wrapper { margin: 0; }

#content {
	padding:1em 5% 2em;
	h1{color: $blue1;}
}



// Slider
#feature {
  margin: -1em -5.55% 0;
  ul {
    list-style: none;
    margin:0;
    padding-bottom:20px;
  }
  li {
    display: none;
    &.feature {
      display: block;
    }
  }
  .feature-image {
    text-align: center;
  }
}

.feature-description {
  margin:0 5%;
  h2 {
    font-size:18px;
    line-height: 20px;
    margin: 20px 0px 10px;
  }
}



// Breadcrumb
.breadcrumb {
  display: none;
}




// Calendar
#calendar {
  h2 { margin-bottom:0; }
}
.day {
  a, span { display:block; }
  span.date {
    margin-right:.33em;
    display: inline;
    font-weight:normal; }
}

#calendars {
  margin:0;
  padding:.5em 0 0;
}

#calendar, #news {
  border-top:4px solid #f7f7f7;
  margin-top:1px;
  padding-bottom:1em;
}
#calendar, #news, #feature { border-bottom:1px solid #ccc; }
ul#calendars{ list-style: none}
.day { padding:.75em 0 0}
a.baseline, #calendar > strong, a.more { font-weight: bold; margin-top:1.5em; padding-bottom:1.5em; display: block;}






// News
.news-item {padding:.25em 0 0}
.briefs-item {padding:.1em 0 0}
#briefs-container {border-bottom:1px solid #eee; padding-bottom:.75em; margin-bottom:.5em;}






// Footer
#page-footer {
  background-color: $brown5;
  border-top:1px solid $brown4;
  border-bottom:1px solid $brown4;
  a, a:link, a:visited {
    color: $brown1;
    display: block;
    padding:.35em 1%;
    font-size:.95em; }
  a:hover, a:active, a:focus {
    color:$brown0; }
  h2 {
    color:$brown0;
    margin-top:1.5em;
    font-size:1em;
    border-bottom:1px solid $brown3; }
  h3 {
    font-weight:normal;
    color:$brown0;
    font-size:.95em;
    margin:1em 0 0; }
  p {
    color:$brown1;
    font-size:.95em; }
  .wrapper {
    margin: 9px 5%;
  }
}

#footer-links {
  border-bottom:1px solid #ccc;
  padding-bottom:1.5em;
  div.alpha {
    margin-top:0; border-top:none; }
  .addthis_default_style a {
    clear:left;padding:0;}
  .addthis_toolbox a {
    padding-left:0;
    span {
      padding-right:10px;
      margin:0; } } }

#footer-bottom {
  background-color:$brown4;
  border-top:1px solid #fff;
  padding-bottom:1.5em;

  a, a:link, a:visited {
    color: $brown0;
  }
 }




@media all and( max-width:939px ) {
  .feature-description {
    border-left: none !important;
    background-color: transparent !important;
    @include box-shadow(none !important);
  }
}


