/*** Type ***/

.wf-active #header-top h1 {
  font-family: 'Droid Serif', 'Crete Round', sans-serif;
}

.wf-active h1, .wf-active h2 {
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
} 

.wf-active body, .wf-active button, .wf-active input, .wf-active select, .wf-active textarea {
  font-family: 'Open Sans', "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
}

