/*** Type ***/

.wf-active #header-top h1 {
  font-family: 'DroidSerif', 'CreteRound', sans-serif;
}

.wf-active h1, .wf-active h2 {
  font-family: 'CreteRound', sans-serif;
  font-weight: normal;
} 

.wf-active body, .wf-active button, .wf-active input, .wf-active select, .wf-active textarea {
  font-family: 'OpenSans', "LucidaGrande","LucidaSansUnicode","LucidaSans",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
}

