/* Base.css 
* The lowest common demoninator style definitions which all browsers will load. No CSS3.
*/

@import "compass";
@import "colors";

@import "normalize"; // Great place to start
@import "h5bp"; // Good defaults from HTML5 Boilerplate
@import "prettify";
@import "basics";


h1, h2{margin:0}

/* Header */
#main-header { background-color: $blue0;}

#header-top { 
  position: relative;
  z-index: 10;
  h1 a { color: #fff; }
  a.sign-in {
    position: absolute;
    top: .35em;
	right:5%;
  } 
}

#logo {
  background-color:$blue2; 
  border-bottom:1px solid $blue3;
  height:2em;
  padding:.35em 5%;
  h2 { margin:0;}
  a  { display:block;}
}

a.mybyu, a.sign-in, .open #search-button, #search-submit {
  background-color:$blue5;
  border:none;
  border-radius:1em;
  color:#fff;
  font-weight: bold;
  padding:.35em 1.5em;
  text-decoration: none;
  &:hover {
	background-color: $blue4;
    cursor:pointer; } 
}

/* Search box styling for mobile */
#search-container {
	position: absolute;
	right: 0;
	width: 75%;
	margin-left: 86px;

	#basic-search {
		width: 100%;
		
		#search {
			margin-bottom: 0;
		}
	}
	.gcse-wrapper {
		width: 100%;
		position:absolute;
		top:0;
		background: $blue0;
		
		.gsc-control-cse {
			background: none;
			border: none;
			padding: 0;
							
			input.gsc-search-button-v2 {margin:0;}
			
			table {
				border: none;
				margin: 0;
				
				td {
					border:none;
					
					.gsc-input-box {
						background: #fff;
						border-radius: 2px;
						border: none;
						padding:1px;
						
						.gsib_a {
							padding: 0;
							margin: 0;
						}
						
						.gsib_b {display: none;}
					}
				}
			}
		}
	}
}

/* Main Content */
.wrapper { margin: 0; }

#content { 
	padding:1em 5% 2em;
	h1{color: $blue1;}
}

  
/* Calendar */
#calendar {
  h2 { margin-bottom:0; } 
}
.day {
  a, span { display:block; }
  span.date {
    margin-right:.33em; 
    display: inline; 
    font-weight:normal; } 
}

#calendars {
  margin:0;
  padding:.5em 0 0; 
}

#calendar, #news {
  border-top:4px solid #f7f7f7;
  margin-top:1px;
  padding-bottom:1em; 
}
#calendar, #news, #feature { border-bottom:1px solid #ccc; }
ul#calendars{ list-style: none}
.day { padding:.75em 0 0}
a.baseline, #calendar > strong, a.more { font-weight: bold; margin-top:1.5em; padding-bottom:1.5em; display: block;}

/* News */
.news-item {padding:.25em 0 0}
.briefs-item {padding:.1em 0 0}
#briefs-container {border-bottom:1px solid #eee; padding-bottom:.75em; margin-bottom:.5em;}

/* Footer */
body > footer {
  background-color:#eeebe9;
  border-top:1px solid #fff;
  border-bottom:2px solid transparent;
  a, a:link, a:visited {
    color: $brown1;
    display: block;
    padding:.35em 1%;
    font-size:.95em; }
  a:hover, a:active, a:focus {
    color:$brown0; }
  h2 {
    color:$brown0;
    margin-top:1.5em;
    font-size:1em;
    border-bottom:1px solid $brown3; }
  h3 {
    font-weight:normal;
    color:$brown0;
    font-size:.95em;
    margin:1em 0 0; }
  p {
    color:$brown1;
    font-size:.95em; }
  .wrapper {
    margin: 9px 5%;
  }
}

#footer-links {
  border-bottom:1px solid #ccc;
  padding-bottom:1.5em;
  div.alpha {
    margin-top:0; border-top:none; }
  .addthis_default_style a {
    clear:left;padding:0;}
  .addthis_toolbox a { 
    padding-left:0;
    span { 
      padding-right:10px; 
      margin:0; } } }

#footer-bottom {
  background-color:#e5e2df;
  border-top:1px solid #fff;
  padding-bottom:1.5em;
 }