@import 'compass';
@import 'shared/colors';
@import 'shared/mixins';


$baseUrl: 'http://byuweb.github.com/Global-Assets';
$fontSize:14; 

html, body {
  margin:0;
}


#byu-bar {
  font-size: 14px;
  font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
  width:100%;
  padding:2px 0;
  background-color:#001948;
  border-bottom: 1px solid black;
  min-width: 120px;
  height:30px;

  .svg & {
    background-image: url($baseUrl + '/img/byu-header-bg.svg'); }


// BYU Logo

  h1 {
    margin: 0;
    padding:0;
    width:80px;
    float: left;
    margin-left: 3%;
    position: absolute;
    font-size: 1em;
    a.byu {
      display: block;
      height: 30px;
      @include replace-text($baseUrl + '/img/byu-logo.svg', 0, 0); 
    } 
  }



// SIGN IN BUTTON

  .sign-in {
    background-color:$blue5;
    border:none;
    color:#fff;
    font-weight: bold;
    padding: 5px 18px;
    text-decoration: none;
    position: absolute;
    top:4px;
    right: 3%;
    @include border-radius(14px);
    @include vertical-gradient($blue5,$blue4);
    @include box-shadow( 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 8px rgba(0, 0, 0, 0.2) );
    @include transition(background-color .3s); 
    &:hover, &:active {
      margin: -2px;
      background-color: $blue4;
      border: 2px solid $blue7;
      cursor:pointer;
      border: none;
      margin:0;
      @include border-radius(16px);
      @include vertical-gradient(mix($blue5,$blue4),mix($blue4,$blue3)); } }



// SEARCH

  $searchButtonWidth: 50px;
  $searchPadding: 10px;
  $sidePadding:5px;

  #search-container {
    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus {
      outline:0px !important;
      -webkit-appearance:none;
    }
  }

  // Basic search container
  #basic-search {
    position: relative;
    padding-right: ($searchPadding * 2) + $searchButtonWidth + $sidePadding + 2px;
    padding-left:$sidePadding;
    padding-top:4px;
    label {
      color: #fff;
    }
  }

  // Textinput fields
  #basic-search #search {
    margin-bottom: 0;
    vertical-align: top;
    @include border-radius(15px);
    padding: 5px $searchPadding !important;
    border: 0 !important;
    font-size: $fontSize + px;
    display: block;
    width: 100%;
  }

  // Basic submit button
  #search-submit {
    background-image: url(../img/search_box_icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -1000px;
    padding: 5px;
    display: block;
    position: absolute;
    right:$sidePadding;
    overflow: hidden;
    margin: 0;
    width:34px;
    top:1px;
    &:hover, &:active {
      right:$sidePadding + 2;
    }
  }

  #basic-search #search {
    border: 0 !important;
    padding: 6px 8px 6px 14px !important;
    background-position:14px 50% !important;
    height: 32px;

    @include box-sizing(border-box);
    @include box-shadow(none);
    @include border-radius(15px);

    &::selection {
      border: 0;
    } 
  }

}


@media all and (min-width:300px) {

  #byu-bar {
    
    h1 a.byu {
      color: white;
      display: block;
      @include background-image(linear-gradient($blue5, $blue3));
      @include border-radius(14px);
      @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.25) inset,0 1px 8px rgba(0, 0, 0, 0.2));
      padding:.25em 1.75em .35em;
      text-decoration: none;
      font-weight: bold; 
    }
  }
}


@media all and (min-width:500px) {

  #byu-bar {  
    h1 { 
      margin-left: 15px;
      a {
        width:345px;
      }
    }
  }

}