/* Responsive CSS 
* This is not only for layouts, but also any additional features such as CSS3 for any elements already declared in base.css
*/

@import "compass";

@import "colors";
@import "mixins";

@import "bootstrap-override";
@import "font-awesome";
@import "nav"; 

@import "slider"; 
@import "slider-responsive";

/*These will apply to all browsers that understand media queries. Includes CSS3 as we are assuming any browser that can understand MQ, can also understand CSS3*/
.wf-active #header-top h1 {
  font-family: 'Droid Serif', 'Crete Round', sans-serif;
}

.wf-active h1, .wf-active h2 {
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
} 

.wf-active body, .wf-active button, .wf-active input, .wf-active select, .wf-active textarea {
  font-family: 'Open Sans', "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
}

a.mybyu, a.sign-in, .open #search-button { @include transition(background-color .3s);  }

  #logo {
	a.byu {
		@include ir();
		background: transparent url($asset-base + 'img/byu-logo-sm.png') 0px 0px no-repeat;
	}
	}
  
#breadcrumb{
		.bread-drop{
			background-color: $grayE; 
			border: 1px solid $grayC;
			display:none;
			margin: -1px 0 0 -1px;
			padding:10px;
			position:absolute;
			white-space:nowrap;
			@include border-radius(0 3px 3px 3px);
			&:before{
				background-color: $grayE;
				content:" ";
				height:1px; 
				left:0;
				margin-top: -1px;
				position:absolute;
				top:0;
				width:20px;
			}
			li{margin-bottom:5px;}
		}
		
		#breadcrumb-home{
			display:inline-block;
			position:relative;
			padding:1px;
			&:after {
				background-color: #FFF;
				box-shadow: -2px 2px 0 $grayE;
				border: 1px solid $grayC;
				border-bottom-left-radius: 5px;
				border-width: 0 0 1px 1px;
				display:none;
				content: " ";
				position: absolute;
				bottom:0;
				right:-6px;
				height: 5px;
				width: 5px;
			}
			&:hover{ 
				background-color: $grayE;
				border: 1px solid $grayC;
				border-bottom: 1px solid $grayE;
				padding:0px;
				@include border-radius(3px 3px 3px 0);
				&:after{display:block;}
				.bread-drop{display:block;}	
			}
		}
	}  
	
$break-large: 768px;  
/* ------------ Desktops and laptops ----------- */
@media only screen and (min-width : $break-large) {
	
	body{
		background: url("../img/body-linen.png");
		color: #444;
	}

	.wrapper, body > footer .wrapper{ 
		max-width: 960px;
		margin: 0 auto;
		padding: 0 32px; }
	
	#main-header { background: url("../img/header-bg.png") no-repeat scroll center top #025;}
	
	#header-top{
		height: 90px;
		z-index: 5; 
		h1{ margin:0;}
		a.sign-in {
			right: 220px;
			@include vertical-gradient($blue5, $blue4);
			@include box-shadow( 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 8px rgba(0, 0, 0, 0.2) );
		}
	 }	
	 
	@import "search";
	
	#site-name{
		top:  10px;
		left: 25px;
		position: relative;
		font-size: 36px;
		font-weight: normal;
		text-decoration: none;
	}
		
	#content{
		background: #fff;
		margin-top:40px;
		padding: 18px 32px 27px;
		position: relative;
		min-height:100%;
		@include box-shadow(0 0 30px 0px rgba(222, 222, 222, 0.7));
	}
	
	#logo{
		background: transparent url($asset-base + 'img/byu-logo.png') 0px 0px no-repeat;
		border:none;
		height:auto;
		left: 20px;
		margin: 0;
		padding: 0;
		top: 12px;
		}
	
	#footer-links{
	 .col{
		display:inline-block;
		vertical-align:top;
		width:18%;}
		.double{
			width:36%;
			.right, .left{
				width:49%; 
				display:inline-block;
			}
		}
	 h2{margin:0} 
	}
	 
	.alpha{margin-left:0}
	.omega{margin-right:0}

	body > footer{
		.wrapper {
			padding-top: 9px;
			padding-bottom: 18px;
		}
	}
	
	#footer-bottom{
		text-align:center;
		a{display:inline-block;}
		
	}

}