/* Responsive CSS
* This is not only for layouts, but also any additional features such as CSS3 for any elements already declared in base.css
*/

@import "compass";

@import "shared/colors";
@import "shared/mixins";
@import "shared/variables";


/*!
	Twitter Bootstrap (Scss version)
*/
/*	
	Loaded first, so it can be overrridden easily.
	Only uncomment the stuff that you really need */

// Core variables and mixins
	@import "bootstrap/variables";
	@import "bootstrap/mixins";

// CSS Reset
//  @import "reset";

// Grid system and page structure
//	@import "bootstrap/scaffolding";
//	@import "bootstrap/grid";
//	@import "bootstrap/layouts";

// Base CSS
	@import "bootstrap/type";
	@import "bootstrap/code";
//	@import "bootstrap/forms";
	@import "bootstrap/tables";

// Components: common
//	@import "bootstrap/sprites";
	@import "bootstrap/dropdowns";
//	@import "bootstrap/component-animations";
//	@import "bootstrap/close";

// Components: Buttons & Alerts
	@import "bootstrap/buttons";
	@import "bootstrap/button-groups";
//	@import "bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
//	@import "bootstrap/navs";
//	@import "bootstrap/navbar";
	@import "bootstrap/breadcrumbs";
//	@import "bootstrap/pagination";
//	@import "bootstrap/pager";

// Components: Popovers
//	@import "bootstrap/modals";
//	@import "bootstrap/tooltip";
//	@import "bootstrap/popovers";

// Components: Misc
//	@import "bootstrap/thumbnails";
//	@import "bootstrap/media";
//	@import "bootstrap/labels-badges";
//	@import "bootstrap/progress-bars";
//	@import "bootstrap/accordion";
//	@import "bootstrap/carousel";
//	@import "bootstrap/hero-unit";

// Utility classes
	@import "bootstrap/utilities"; // Has to be last to override when necessary





/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@import "fontawesome/variables";
@import "fontawesome/mixins";
@import "fontawesome/path";
@import "fontawesome/core";
@import "fontawesome/larger";
@import "fontawesome/fixed-width";
@import "fontawesome/list";
@import "fontawesome/bordered-pulled";
@import "fontawesome/spinning";
@import "fontawesome/rotated-flipped";
@import "fontawesome/stacked";
@import "fontawesome/icons";





/*!

BYU Styles 

*/
@import "responsive/bootstrap-override";
@import "responsive/header-footer";
@import "responsive/breadcrumb";
@import "responsive/search";
@import "responsive/nav";

@import "responsive/anythingslider";
@import "responsive/slider";

@import "responsive/calendar";
@import "responsive/content";
@import "responsive/type";

// Media queries for specific sizes
@import "responsive/query-larger";



/*!
h5bp print styles 
*/
@import "responsive/print";


