/* Responsive CSS 
* This is not only for layouts, but also any additional features such as CSS3 for any elements already declared in base.css
*/

@import "compass";

@import "colors";
@import "mixins";

/*	Twitter Bootstrap (Scss version)
	Loaded first, so it can be overrridden easily.
	Only uncomment the stuff that you really need */

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// CSS Reset
//@import "reset";

// Grid system and page structure
//	@import "bootstrap/scaffolding";
//	@import "bootstrap/grid";
//	@import "bootstrap/layouts";

// Base CSS
	@import "bootstrap/type";
	@import "bootstrap/code";
	@import "bootstrap/forms";
	@import "bootstrap/tables";

// Components: common
//	@import "bootstrap/sprites";
	@import "bootstrap/dropdowns";
//	@import "bootstrap/component-animations";
//	@import "bootstrap/close";

// Components: Buttons & Alerts
	@import "bootstrap/buttons";
	@import "bootstrap/button-groups";
//	@import "bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
//	@import "bootstrap/navs";
//	@import "bootstrap/navbar";
	@import "bootstrap/breadcrumbs";
//	@import "bootstrap/pagination";
//	@import "bootstrap/pager";

// Components: Popovers
//	@import "bootstrap/modals";
//	@import "bootstrap/tooltip";
//	@import "bootstrap/popovers";

// Components: Misc
//	@import "bootstrap/thumbnails";
//	@import "bootstrap/media";
	@import "bootstrap/labels-badges";
//	@import "bootstrap/progress-bars";
//	@import "bootstrap/accordion";
//	@import "bootstrap/carousel";
//	@import "bootstrap/hero-unit";

// Utility classes
	@import "bootstrap/utilities"; // Has to be last to override when necessary

/* BYU Styles */
@import "bootstrap-override";
@import "font-awesome";
@import "type";
@import "breadcrumb";
@import "nav";

@import "slider"; 
@import "slider-responsive";
@import "flexslider";

a.mybyu, a.sign-in, .open #search-button { @include transition(background-color .3s);  }

#logo {
	a.byu {
		@include ir();
		background: transparent url($asset-base + 'img/byu-logo-sm.png') 0px 0px no-repeat;
	}
}

$tablet-profile:48em; //768px	
/* ------------ Profile view on Tablet (iPad) ----------- */
@media screen and (min-width : $tablet-profile) {
	body {
		background: url("../img/body-linen.png");
		color: #444; }

	.wrapper, body > footer .wrapper{ 
		max-width: 960px;
		margin: 0 auto;
		padding: 0 32px; }
	
	#main-header { background: url("../img/header-bg.png") no-repeat scroll center top #025;}
	
	#header-top{
		height: 90px;
		h1{ margin:0;}
		a.sign-in {
			@include vertical-gradient($blue5, $blue4);
			@include box-shadow( 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 8px rgba(0, 0, 0, 0.2) );
		}
	 }
	 
	@import "search";
	 
	#site-name{
		left: 25px;
		position: relative;
		font-size: 36px;
		font-weight: normal;
		text-decoration: none;
	}
		
	#content{
		background: #fff;
		margin-top:40px;
		padding: 18px 32px 27px;
		position: relative;
		min-height:100%;
		@include box-shadow(0 0 30px 0px rgba(222, 222, 222, 0.7));
	}
	
	#logo{
		background: transparent url($asset-base + 'img/byu-logo.png') 0px 0px no-repeat;
		border:none;
		height:auto;
		left: 20px;
		margin: 0;
		padding: 0;
		top: 12px;
		}
	
	#footer-links{
	 .col{
		display:inline-block;
		vertical-align:top;
		width:18%;}
		.double{
			width:36%;
			.right, .left{
				width:49%; 
				display:inline-block;
			}
		}
	 h2{margin:0} 
	}
	 
	.alpha{margin-left:0}
	.omega{margin-right:0}

	body > footer{
		.wrapper {
			padding-top: 9px;
			padding-bottom: 18px;
		}
	}
	
	#footer-bottom{
		text-align:center;
		a{
			display:inline-block;
			text-indent: -999em;
		}
		
		a#copyright{
			text-indent:0em;
		}
		
		%school-link{
		background: transparent url('../img/footer_sprite.png') no-repeat;
		opacity:0.7;
		&:hover{opacity:1;}
		}
		
		a#lds {
			@extend %school-link;
			background-position: 0px -8px;
			height: 50px;
			width: 150px;}
			
		a#ldsbc {
			@extend %school-link;
			background-position: -407px -8px;
			height: 55px;
			width: 70px;}
			
		a#byui {
			@extend %school-link;
			background-position: -206px -8px;
			height: 42px;
			width: 72px;}	
		
		a#byuh {
			@extend %school-link;
			background-position: -308px -8px;
			height: 42px;
			width: 72px; }
	}

}

$break-large:60em; //960px	
/* ------------ Landscape of Tablet(iPad) and anything larger ----------- */
@media screen and (min-width : $break-large) {
	.one-sidebar #main-content { float:left; margin-right:2%; width:73%;}
	.two-sidebars #main-content { float:left; margin-right:2%; width:48%;}
	.sidebar { float:left; width:23%}
	
//	.one-sidebar #main-content { float:left; margin-right:20px; width:700px;}
//	.two-sidebars #main-content { float:left; margin-right:20px; width:460px;}
//	.sidebar { float:left; margin-right:20px; width:220px;}

}


/* From h5bp */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* h5bp print styles */
@import "print";
