.breadcrumb {
	display: block;
	padding: 0;
	background-color: transparent;

	a, a:link, a:visited {
		color: $blue4;
	}

	a:hover, a:active, a:focus {
		text-decoration: none;
		color: $blue2;
	}

	.divider {
		width: 10px;
	}
}
