/*!
* Calendar, News 
*
*/


@import "shared/variables";
@import "shared/colors";
@import "shared/mixins";


#calendar, #news {
	padding-top:1.5em;
	padding-bottom:2em;
	h2 { margin:0 0 .5em; }
}

.day {
	overflow: hidden;
	margin:0 0 .25em;
	padding-left:14px;
	span.date {
		font-size:1.5em;
		.wf-active & {
			font-family: 'Crete Round', sans-serif;
			font-weight: normal; } } 
	h3 {
		font-size: 1em;
		clear: both;
		margin-top: 0;
		margin-left:-14px; }
	a {
		width:70%;
		float: left;
		margin-bottom: .5em;
		text-indent: -8px; }
	.time {
		float: right;
		clear: right;
		color: #666;
		margin-bottom:0 !important; } }
		
#calendars {
	margin:1.5em 0;
	padding:.75em 0;
	clear: both;
	border-top: solid 1px #DDD;
	border-bottom: solid 1px #DDD;
	overflow: hidden; }


.briefs-item { padding:.5em 0 1em; }
.news-item {
	padding: 1em 0;
	border-bottom:1px solid #eee; }



@media all and (min-width:450px) {
	.briefs-item {
		padding:.25em 0;
		@include clearfix();
		img {
			padding:0 1em 1em 0; }
		a {
			float: left;
			clear: both; }
		h3 { margin: 0;
			a {	float:none; }
		}
	}
}



@media all and (min-width: $med-width) {

	#calendar, #news {
	  width:45%;
	  float:left;
	  border-top:none;
	  border-bottom:none;
	  h2 {
	    font-size: 1.5em;
	    border-bottom:1px solid #ddd;
	    margin-bottom:18px; }
	}
	  

	.day {
	  font-size: .9em;
	  clear:both;
	  padding-top:0;
	  margin-bottom:.75em;
	  overflow:hidden;
	  h3 {
	    margin-top:0; }
	  .date {
	    font-size:1.5em; }
	  a {
	    width:65%;
	    float:left;
	    clear:both;
	    margin-bottom:.75em; }
	  .time {
	    clear:none;
	    width:34%;
	    float:right;
	    text-align:right; }
	}

	#calendars { clear:both; }
	  
	#news {
	  padding-right:0;
	  float:right; }
	  
	.briefs-item {
	  padding-bottom: 1em;
	  img { padding:0; }
	  a { float: none; }
	  h3 {
	    margin-top: .25em;
	    font-size:.9em; 
	    margin-right:-.5em; } 
	}
}


@media all and (min-width 800px) {
	.briefs-item h3 { font-size: 1em; }
	.day { font-size: 1em;
	  a { width:72%; }
	  .time { width:27%; }
	}
}


@media all and (min-width: $large-width) {
	

	#calendar { width:34.755%; }
	  
	#news { width:56.238%; }
	.briefs-item {
	   width:28.368%;
	   float:left;
	   margin-right:4.1%; }
	#news-container {
	  clear:both; }
	.news-item {
	  width:47%;
	  float:left;
	  margin-right:5%;
	  &.omega { margin-right:0; } 
	}
	.baseline {clear:both; }

	.day {
	  a { width:74%; }
	  .time { width:25%; } 
	}

}