
/*** Larger width ***/
@media all and ( min-width:$larger-width ) {
	$display_width:1008px;
	$side_padding: 12px;

	#primary-nav {
		width: $display_width;
		margin:0 auto;
		padding-left: 0;
		.mega {
			width: 100%;
		}
	}

	#primary-nav, #secondary-nav {
		a {
			padding-left: $side_padding;
			padding-right: $side_padding;
		}
	}

	#logo {
		padding-left: $side_padding;
	}

	#header-top {
		max-width: $display_width;
		margin-right: auto;
	}

	#search-menu, #secondary-nav {
		right:50%;
		margin-right: -$display_width/2;
	}

}

/*** Responsive Modal Markup ***/
@media (max-width: 767px) {

       .modal {
           position: fixed;
           top: 20px;
           left: 20px;
           right: 20px;
           width: auto;
           margin: 0;
       }
       .modal.fade {
           top: -100px;
       }
       .modal.fade.in {
           top: 20px;
       }
}