/*!
* Search
*/

@import "compass";
@import "shared/colors";
@import "shared/mixins";
@import "shared/variables";

$searchButtonWidth: 50px;
$searchPadding: 10px;
$sidePadding:5px;


/* Small width */
#search-menu {
	height: auto;
	padding: 5px 3% 5px 75px;
	overflow: hidden;
	z-index: 10;
	@include box-sizing(border-box);
}


#search-container {
	padding: 0;
	height: 32px;
	position: relative;
	@include border-radius(15px);
	@include vertical-gradient($blue5,$blue4);
	@include box-shadow( 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 8px rgba(0, 0, 0, 0.2) );

	.gcse-wrapper {
		background: none;
		position:absolute;
		padding: 0 $sidePadding;
		top:1px;
		left:0;
		text-align: left;

		div, table, td, form {
			padding:0;
			margin:0;
			border:0;
			background:none;
			position:static;
		}

		
		.gsc-control-cse {
			td {vertical-align: top !important;}
			table td .gsc-input-box {
				background: none;
				padding: 0;

				input.gsc-input {

				}
			}
			table td .gsc-input-box-hover, table td .gsc-input-box-focus {
				@include box-shadow(none);
			}
			td.gsc-search-button {
				padding: 0;
				input.gsc-search-button-v2 {
					background: none;
					border: none;
					text-indent: -1000px;
					overflow: hidden;
					margin: 0 0 0 -5px;
					padding: 8px 1.5em;
				}
			}
		}


		.gsc-results-wrapper-overlay {
			background:#fff;
			left: 2%;
			width: 86%;
			padding: 10px 5%;
			border: 1px solid #bbb;
			@include box-shadow(0 0 200px 50px rgba(black, .25));

			a, a b {
				color: mix($blue4, blue, 75);
			}
			a:visited, a:visited b {
				color: #539;
			}

			.gsc-above-wrapper-area {
				padding:8px 0;
				border-bottom: 1px solid #ddd;
			}

			.gsc-results-close-btn {
				top: 7px;
				right:7px;
				@include vertical-gradient($blue9,$blue8);
				//@include box-shadow( 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 8px rgba(0, 0, 0, 0.2) );
				//background-color: $blue9;
				border: 1px solid $blue6;
				width: 2.3em;
				height: 2.3em;
				@include border-radius(5px);

				&:before {
					content:"×";
					font-size: 2em;
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					text-align: center;
					color:$blue4;
					line-height: 1em;
				}
				&:hover {
					@include vertical-gradient(mix($blue9,$blue8),mix($blue8,$blue7));
					border-color: $blue5;
				}
				&:hover:before {
					color:$blue0;
				}
			}

		}

		.gsc-results {

			.gsc-cursor-box {
				margin: 2em 0 3em;

				.gsc-cursor-page {
					padding: .75em;
					background-color: #eee;
					border: 2px solid #fff;
					@include border-radius(5px);
					@include background-clip(padding-box);
					&:hover {
						background-color: $blue3;
						color: #fff;
						text-decoration: none;
					}
				}
				.gsc-cursor-current-page {
					background-color: $blue4;
					color: #fff;
				}
			}
			.gsc-cursor {
				display: inline;
			}

		}

		.gsib_b div {
			position: absolute;
			top: 5px;
			right:48px;
			a {
				span {
					color: #aaa;
				}
				&:hover span {
					color: #777;
				}
			}
		}

		.gsc-result {
			padding:.75em 0;
		}

		.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
			//color: #339947;
			//color: mix($blue5, #555);
		}

		.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
			color: #555;
		}

		.gsc-url-top {
			margin:.2em 0 .4em;
		}
	}
	

	.gsc-search-button, .gsc-search-button-v2 {
		background-color: $blue5;
		background-image: none;
		padding: 7px 18px;
		position: relative;
		top:1px;
		&:hover, &:active {
			margin: 0;
			margin-right:-2px;
		}
	}

	input.gsc-input {
		background-position:14px 50% !important;
	}

	// GCSE textinput container
	.gsc-input-box {
		padding-right:$searchPadding * 2 !important;
		position: relative;
		padding-right:0 !important;
		height:auto;
	}


	/** Styling for both search forms **/
	#basic-search, .gcse-wrapper {
		margin: 0;
		top:0;
		left:0;
		padding:0;
		@include box-sizing(border-box);
	}

	#basic-search {
		padding-right:43px;	
	}
	.gcse-wrapper {
		width:100%;
	}

	#search-submit {
		background: url(../img/search_box_icon.png) 9px 8px no-repeat;
		overflow: hidden;
		text-indent: -1000px;
		margin: 0;
		padding-left:0;
		width:34px;
		top:1px;
	}

	#basic-search #search, input.gsc-input {
		border: 0 !important;
		padding: 6px 8px 6px 14px !important;
		background-position:14px 50% !important;
		height: 32px;

		@include box-sizing(border-box);
		@include box-shadow(none);
		@include border-radius(15px);

		&::selection {
			border: 0;
		}	
	}

	input.gsc-input {
		position: relative;
		top: 1px;
		height: 30px !important;
	}
}

















/*** Medium width ***/
@media all and (min-width:$med-width) {

	#search-menu {
		padding-left: 37%;
		text-align: right;
		border: none;
	}

}













