
@import "variables";


.anythingSlider,
.anythingSlider #slider,
.anythingSlider .fade .panel {
    width:100% !important;
}

.anythingSlider-default {
    padding: 0 0 30px;
}

.anythingSlider-default .anythingWindow {
    border:none;
}


#feature {
    margin: -1em -5.55% 0;
}

.feature-description {
    margin:0 5%;
    h2 {
        font-size:18px;
        line-height: 20px;
        margin: 20px 0px 10px;
    }
}


@media all and ( min-width:$med-width ) {
    #feature {
        margin: -1em -11% 0;
    }
}