/*!

* Type 
*
*/

@import "shared/variables";





/*** Small width ***/

$fontSize:14px; 
$lineHeight:19px;

body, button, input, select, textarea, 
#search-container .gsc-control-cse, 
#search-container .gsc-control-cse .gsc-table-result {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $sans-font-stack;
  font-weight: $sans-font-weight; }

#header-top h1 {
	font-family: $serif-ssm-font-stack;
	font-weight: $serif-ssm-font-weight; }

h1, h2 {
	font-family: $serif-font-stack;
	font-weight: $serif-font-weight; }

h2 .parentlink {
	font-family: $byu-font-stack;
	font-weight: $byu-font-weight; }

h3, h4, h5, h6 { 
  font-family: $sans-font-stack;
  font-weight: 600; }

h1 { font-size:    2em; margin:30px 0px 10px; }
h2 { font-size: 1.65em; margin:25px 0px 10px; }
h3 { font-size: 1.25em; margin:20px 0px 10px; line-height:1.25; }
h4 { font-size:  1.1em; margin:15px 0px 10px; line-height:1.3; }
h5 { font-size:    1em; margin:10px 0px 10px; line-height:1.3; }
h6 { font-size:   .9em; margin:10px 0px 10px; line-height:1.3; }


a.mybyu, a.sign-in, .open #search-button, #search-submit, .gcse-wrapper input.gsc-search-button, .nav-container a {
	font-family: $sans-font-stack;
	font-weight: 500; }

.nav-container .mega a, .nav-container .sub a {
	font-weight: 500; }

#primary-nav .mega li.featured a {
	font-weight: 600; }

body {
	th, tfoot {
		font-weight: 500; }
	strong, dt {
		font-weight: 600; } }

.sc, .small-caps {
	font-family: 'Whitney SSm SC A', 'Whitney SSm SC B';
	font-weight: 400; 
	font-style: normal;
}

#page-footer h2 {
	font-family: $sans-font-stack;
	font-weight: 600;
}


/*** Medium width ***/
@media all and ( min-width: $med-width ) {

	$fontSize:15px;
	$lineHeight:20px;

	body, button, input, select, textarea {
		font-size: $fontSize;
		line-height: $lineHeight; }

	h1 { font-size:  2.2em; line-height:40px; margin:30px 0px 20px; } // 33px
	h2 { font-size:  1.8em; line-height:30px; margin:30px 0px 20px; } // 27px
	h3 { font-size:  1.3em; line-height:25px; margin:25px 0px 10px; } // 19.5px
	h4 { font-size: 1.15em; line-height:20px; margin:25px 0px 10px; } // 17.25px
	h5 { font-size:    1em; line-height:20px; margin:20px 0px 10px; } // 15px
	h6 { font-size:   .9em; line-height:20px; margin:15px 0px 10px; } // 13.5px

}







/*** Large width ***/
@media all and ( min-width: $large-width ) {

}





/*** Larger width ***/
@media all and ( min-width: $larger-width ) {

}





/*** Extra large width ***/
@media all and ( min-width:$extralarge-width ) {

	$fontSize:16px;
	$lineHeight:22px;

	body, button, input, select, textarea {
		font-size:$fontSize + px;
		line-height: $lineHeight; }
}
