
/* Variables */



// Screen sizes

$full-menu-width: 700px; // Show the menu at this width

$handheld-width:300px;
$med-width: 600px;
$full-width: 900px;
$extrawide-width: 1500px;



// Fonts

$sans-font-stack: "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Helvetica,Arial,sans-serif;
$serif-font-stack: "Palatino", "DroidSerif", "Droid Serif", Georgia, serif;
