footer(role='contentinfo')
    #footer-links
        .wrapper
          .col.alpha
            h2 Footer Column 1
            a(href='') Link 1
            a(href='') Link 2
            a(href='') Link 3
            a(href='') Link 4
          .col
            h2 Footer Column 2
            a(href='') Link 1
            a(href='') Link 2
            a(href='') Link 3
            a(href='') Link 4
          .col.double
            h2 Footer Double Column
            .left.alpha
              a(href='') Left Link 1
              a(href='') Left Link 2
              a(href='') Left Link 3
              a(href='') Left Link 4
            .right.omega
              a(href='') Right Link 1
              a(href='') Right Link 2
              a(href='') Right Link 3
              a(href='') Right Link 4
          .col.omega
            h2 Footer Column 4
            a(href='') Link 1
            a(href='') Link 2
            a(href='') Link 3
            a(href='') Link 4
      #footer-bottom
        p
          a(href='http://byui.edu/') BYU-Idaho
          a(href='http://byuh.edu/') BYU-Hawaii
          a(href='http://www.ldsbc.edu/') LDS Business College
          a(href='http://lds.org/') The Church of Jesus Christ of Latter-day Saints
        p
          a(href='http://home.byu.edu/home/copyright') Copyright© 2011, All Rights Reserved
    //
      CONTENT END
