!!! 5
//[if lt IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]
//[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]
//[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]
//[if gt IE 8]><!
html.no-js(lang="en")
  // <![endif]
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{pageTitle}
    meta(name='description', content='Description about your department.')
    meta(name='author', content='Your Department Name')
    meta(name='keywords', content='keyword 1, keyword 2, keyword 3')
    meta(name='viewport', content='width=device-width')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    link(rel='shortcut icon', href='change-this-directory/img/favicon.ico')
    //
       Styles 
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/base.css')
    link(media='all and (min-width:200px)', rel='stylesheet', href='css/responsive.css')
    //
       Scripts loaded via script loader. See notes in init.js file. 
    script(src='http://byuweb.github.com/Global-Assets/js/modernizr-lab.min.js')
    script(src='js/init.js')

  body
    //if lt IE 7
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.


    header#main-header(role='banner')
      #header-top.wrapper
        #logo
          h2
            a.byu(href='http://www.byu.edu/') Brigham Young University #{byulink}
        //
           This should link to your organization's home page 
        h1
          a#site-name(href='#CHANGE-THIS-LINK') #{heading}
        a.sign-in.button(href='http://home.byu.edu/home/cas') Sign in
        #search-container(role='search')
          //
             This is the default search form, linking to BYU's search page. If a user does not have javascript enabled, they'll get this form. If they have javascript, this content will be replaced with Google's custom search (from the script at the bottom of the page). 
          form.basic-search(action='http://home.byu.edu/home/search', role='form')
            input#search(type='search', name='search')
            input#search-submit(type='submit', value='Search')
          //
             This container holds the Google custom search, if enabled 
          .gcse-wrapper
            gcse:search