@import "compass";
@import "global-colors";

/* HEADER */

#main-header {
  min-width: 180px;
	@include background(image-url('byu-header-bg.png') no-repeat scroll center top $blue1);
	.svg & {
  	@include background-image(image-url('byu-header-bg.svg'));
  	@include background-size(100% 3em);
	}
	position: relative;
	z-index: 500;
}
#header-top {
	padding: 0;
	position: relative;
	z-index: 500;
}


#logo {
  margin:0;
  padding-top:.3em;
  width: 100px;
	h1 {
  	@include replace-text('byu-logo-sm.png', 0, 0);
  	margin: 0;
  	padding: 0;
  	background-color: transparent;
  }
}



%button-base {  
	@include background(linear-gradient($blue6, $blue4));
	@include border-radius(1em);
	@include box-shadow(0 1px 0 rgba(#fff,0.25) inset,0 1px 8px rgba(#000,0.2));
}

.button {
  @extend %button-base;
	color: #fff;
	display: block;
	padding: .25em 1.5em .4em;
	text-decoration: none;
	font-weight: bold;

  &:hover {
    @include background(linear-gradient(mix($blue6, $blue7), $blue4));
    @include text-shadow(0px -1px 0px rgba($blue1, 0.5));
    @include box-shadow(0 1px 0 rgba(#fff,0.35) inset,0 1px 10px rgba(#000,0.35));
    color: #fff;
    text-decoration: none;
  }
}





#search-container {
	border-top:1px solid $blue4;
	background-color: $blue0;
	border-bottom:1px solid $blue4;
	padding:.5em;
	padding-right: 5.5em;
	.button {
	  position: absolute;
	  top:.5em;
	  right:.5em;
	}
	
  form {
    @extend %button-base;
  	display: block;
  	box-shadow: 0 1px 0 rgba(255,255,255,0.25) inset,0 1px 8px rgba(0,0,0,0.2);
  	padding: 0;
  	position: relative;
  	width:100%;
  	right:-4.75em;
  }
}
#search {
  width: 100%;
	background-color: #eee;
	height: 1.65em;
	padding: .25em 1em;
	border: none;
	margin-right: 34px;
	border-radius: 15px;
	position: relative;
	right:4.75em;
	z-index: 1;
}
#search:focus {
	background-color: #fff;
	outline: none;
}
#search-button {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: .5em;
}






/* 220 px */
@media all and (min-width:220px) {
  #search-container {
    overflow: hidden;
    form {
      float: right;
      width: 140px;
    }
  }

}




/* 275 px */
@media all and (min-width:275px) {
  .button {
  	padding: .25em 2em .35em;  
  }
  #main-header {
    padding-top: .5em;
    .svg & {
      @include background-size(100% 4em);
    }
  }
  #logo {
    padding-bottom: .3em;
    padding-left: .5em;
  }
}




/* 460 px */
@media all and (min-width:460px) {

  #logo {
    width:350px;
    h1 {
    	@include background-image(image-url("byu-logo.png"));
    	.svg & {
      	@include background-image(image-url("byu-logo.svg"));
    	}
    }
  }
  #search-container {
    form {
      width: 160px;
    }
  }

}





/* 800 px */
@media all and (min-width:750px) {
  #main-header {
    padding-top:0;
    .svg & {
      @include background-size(100% 100px);
    }
  }

  #logo {
    width:290px;
    padding-top:0;
    h1 {
      height: 85px;
    	@include background(image-url("byu-logo-lg.png") 16px 4px no-repeat);
    	.svg & {
      	@include background-image(image-url("byu-logo-lg.svg"));
    	}
    }
  }
  
  #search-container {
    background: transparent;
    border-top: none;
    border-bottom: none;
    float: right;
    position: absolute;
    top:.5em;
    right: .5em;
    .button {
      position: static;
      float: left;
      margin-right: 1em;
    }
    form {
      width: 160px;
    }
  }
  #search {
   	height: 1.5em;
  }

}



/* 1000 px */
@media all and (min-width:1000px) {
  #header-top {
    width: 1000px;
    margin: 0 auto;
  }
}

