@import "compass";
@import "global-colors";

%button {
  color: #fff;
  display: block;
  background: $blue6;
	@include background-image(linear-gradient($blue6, $blue4));
	@include border-radius(14px);
	@include box-shadow(0 1px 0 rgba(#fff, 0.25) inset, 0 1px 8px rgba(#000, 0.2));
  padding: 5px 28px;
  float: left;
  margin-right: 12px;
  text-decoration: none;
  font-weight: bold;
}


ul li.collapsed{ list-style:none;}
#search-container > div > div {float: left;}
#user-login-form .item-list, #edit-cas-login-redirection-message {display:none;margin:0;}
#user-login-form #edit-actions {margin:0}
#block-system-user-menu .content li {
	list-style-type: none;
}
#search-container #block-user-login form {
	box-shadow: none;
	background-image: none;
}
#block-system-user-menu .content a {
  @extend %button;
}

#block-system-user-menu .content a:hover {
    background: $blue4;
  	@include background-image(linear-gradient($blue4, $blue3));
}
.no-js #primary-nav ul li:hover.nochild a, #primary-nav ul li.hover.nochild a { border-radius: 4px;}
#primary-nav ul li .sub .sub {
	float: none;
	position: static;
	padding: 0;
	box-shadow: none; 
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	border: none;
}
#primary-nav ul li ul .featured a {
 font-size: 14px;
 font-weight: bold;
}
#primary-nav ul li ul {
 /*background: #eff6fc;*/
 width: 220px;
 float: left;
 padding: 10px 0;
 /*border: solid 1px #e0edf9;*/
}
#primary-nav ul li ul a {
  padding: 3px 12px;
  line-height: 1.35;
}
#primary-nav ul li .sub ul a:hover, .no-js #primary-nav  ul li .sub ul a:hover {
  color: #fff;
  background: $blue4;
	@include background-image(linear-gradient($blue2, $blue1));
}
#primary-nav ul li ul li ul { margin: -2px 0 2px; border: 0; padding: 0; float: none; }
#primary-nav ul li ul li ul li {list-style-type:none;}
#primary-nav ul li ul li ul li a { padding: 1px 12px 1px 24px;}
#primary-nav ul li ul li ul li a:before {
  content: '\25B8';
  position: absolute;
  left: 12px;
  top: 2px;
  font-size: 10px;
  list-style-type:none;
}

#block-user-login input.form-submit{
  @extend %button;
	border: none;
}
#block-user-login input.form-submit:hover {
  background: $blue4;
  @include background-image(linear-gradient($blue4, $blue3));
}
