
// BYU Blue
$blue0: #001948;
$blue1: #025;
$blue2: #036;
$blue3: #147;
$blue4: #369;
$blue5: #628cb6;
$blue6: #91b2d2;
$blue7: #abc8e4;
$blue8: #d1e4f6;
$blue9: #e0edf9;
$blue10: #eff6fc;
$blue11: #f9fcfe;


// Brown
$brown0: #66625c;
$brown1: #807b73;
$brown2: #99948d;
$brown3: #cccac6;
//$brown4: #;
//$brown5: #;

// Highlight Yellow
$yellow0: #ffc;
$yellow1: #ffd;
$yellow2: #ffe;


// Red
$red0: #901;
$red1: #b01;


// Green (not used much)
$green0: #004818;
$green1: #005518;
$green2: #006614;
$green3: #117725;
$green4: #339947;
$green5: #62b672;
$green6: #91d29d;
$green7: #abe4b6;
$green8: #d1f6d8;
$green9: #e0f9e4;
$green10: #effcf1;
$green11: #f9fefa;


// Gray
$gray0: #000;
$gray1: #111;
$gray2: #222;
$gray3: #333;
$gray4: #444;
$gray5: #555;
$gray6: #666;
$gray7: #777;
$gray8: #888;
$gray9: #999;
$grayA: #aaa;
$grayB: #bbb;
$grayC: #ccc;
$grayD: #ddd;
$grayE: #eee;
$grayF: #fff;

$lightgray: #f7f7f7;
