@import "compass";
@import "colors";

/*
nav ul {
	list-style: none;
}
nav > ul > li {
	float: left
}
nav li .sub {
	@include box-shadow(0 1px 8px rgba(#000 ,0.7));
	border: 1px solid $blue4;
	border-top: 0;
	margin-top: 0;
}
.boxshadow nav li .sub {
	border: 0;
}

.no-js #primary-nav ul li:hover.nochild a, #primary-nav ul li.hover.nochild a { border-radius: 4px;}
#primary-nav ul li .sub .sub {
	float: none;
	position: static;
	padding: 0;
	@include box-shadow(none);
	border: none;
}
#primary-nav ul li ul .featured a {
 font-size: 14px;
 font-weight: bold;
}
#primary-nav ul li ul {
 width: 220px;
 float: left;
 padding: 10px 0;
}
#primary-nav ul li ul a {
  padding: 3px 12px;
  line-height: 1.35;
}
#primary-nav ul li .sub ul a:hover, .no-js #primary-nav  ul li .sub ul a:hover {
  color: #fff;
  background: $blue4;
  @include background-image(linear-gradient($blue2, $blue1));
}
#primary-nav ul li ul li ul { margin: -2px 0 2px; border: 0; padding: 0; float: none; }
#primary-nav ul li ul li ul li {list-style-type:none;}
#primary-nav ul li ul li ul li a { padding: 1px 12px 1px 24px;}
#primary-nav ul li ul li ul li a:before {
  content: '\25B8';
  position: absolute;
  left: 12px;
  top: 2px;
  font-size: 10px;
  list-style-type:none;
}
*/


/* Wrapper */
/*
.wrapper {
    margin: 0 auto;
    padding: 0 32px;
}
#primary-nav ul ul {
	width: auto;
	margin: 0;
	padding: 0;
}


.sub ul li {float:none;}

.no-js #secondary-nav li:hover.nochild a, .no-js #secondary-nav li a:hover.nochild,#secondary-nav li.hover.nochild a {
text-decoration: none;
background-color: white;
border-radius: 4px;
color: $blue1;
}

#primary-nav .links {
	width: 93%;
}

#primary-nav ul ul {
	width: auto;
	margin: 0;
	padding: 0;
}

#secondary-nav {
	position: absolute;
	bottom: 6px;
	right: 0;
}
#secondary-nav li a {
	color: #a8c7e3;
	display: block;
	padding: 6px 8px;
	position: relative;
	z-index: 100;
	text-decoration: none;
}
.no-js #secondary-nav li:hover a,.no-js #secondary-nav li a:hover,#secondary-nav li.hover a {
	text-decoration: none;
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	color: $blue1;
}
#secondary-nav li .sub a {
	border-radius: 0;
	padding: 3px 12px;
}
#secondary-nav li .sub a:hover {
	color: #fff;
	background: $blue4;
	@include background-image(linear-gradient($blue2, $blue1));
}
#primary-nav .sub, #secondary-nav .sub {
	background-color: #fff;
	display: none;
	width: 208px;
	padding: 9px 0 18px;
	border-bottom: 3px solid $blue4;
	position: absolute;
}
.no-js #secondary-nav li:hover .sub,#secondary-nav li.hover .sub,.no-js #primary-nav li:hover .sub,#primary-nav li.hover .sub {
	display: block
}
#primary-nav {
	background-color: #011948;
	border-top: solid 1px $blue4;
	border-bottom: solid 1px $blue4;
	@include box-shadow(0 1px 5px rgba(#000 ,0.5));
	position: relative;
	z-index: 10;}
	
#primary-nav ul {
	position: relative;}
	
#primary-nav .sub {
	padding: 10px;
	width: 222px;}
	
#primary-nav li a {
	padding: 10px 20px;
	font-size: 14px;
	display: block;
	color: #eee;
	position: relative;
	z-index: 500;
	text-decoration: none;}
	
.no-js #primary-nav li:hover a,.no-js #primary-nav li a:hover,#primary-nav li.hover a {
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	color: #011949;
	text-decoration: none;
}
.no-js #secondary-nav li:hover a.single,
.no-js #secondary-nav li a.single:hover,
#secondary-nav li.hover a.single,
.no-js #primary-nav li:hover a.single,
.no-js #primary-nav li a.single:hover,
#primary-nav li.hover a.single {
	border-radius: 4px;
}
#primary-nav .mega {
	display: none;
	position: absolute;
	background-color: #fff;
	font-size: 13px;
	padding: 10px;
	width: 920px;
	height: 371px;
	left: 32px;
	@include box-shadow(0 1px 8px rgba(#000 ,0.7));
	border: 1px solid $blue4;
	border-top: 0;
	border-bottom: 3px solid $blue4;
}
.boxshadow #primary-nav .mega {
	border: 0;
	border-bottom: 3px solid $blue4;
}
#primary-nav .mega p {
	margin: 9px 0
}
#primary-nav .left {
	float: left;
	width: 200px;
}
#primary-nav .mega .links.double {
	width: 400px
}
#primary-nav li .mega a,#primary-nav li .sub a,.no-js #primary-nav li .mega a,.no-js #primary-nav li .sub a {
	color: $blue3;
	background-color: transparent;
	border-radius: 0;
	font-size: 13px;
}
#primary-nav .mega a:hover,#primary-nav .sub a:hover {
	color: $blue1
}
#primary-nav hr {
	border: none;
	background: #ddd;
	height: 1px;
}
#primary-nav .links .featured a {
	font-size: 14px;
	font-weight: bold;
}
#primary-nav .mega .links {
	background: url(/home/sites/all/themes/homepage/img/margin.png) no-repeat right 22px;
	width: 220px;
	float: left;
	padding: 10px 30px 0 0;
}
#primary-nav .links a {
	padding: 3px 12px;
	line-height: 1.35;
}
#primary-nav .links a:hover,.no-js #primary-nav .links a:hover {
	color: #fff;
	background: $blue4;
	@include background-image(linear-gradient($blue2, $blue1));
}
#primary-nav .sublinks {
	margin: -2px 0 2px
}
#primary-nav .sublinks li {
	list-style-type: none;
}
#primary-nav .sublinks li a {
	padding: 1px 12px 1px 24px;
}
#primary-nav .sublinks li a:before {
	content: '\25B8';
	position: absolute;
	left: 12px;
	top: 2px;
	font-size: 10px;
	list-style-type: none;
}
#primary-nav .highlight {
	float: left;
	width: 208px;
	margin-left: 24px;
}
#primary-nav .highlight a {
	padding: 0
}
#primary-nav .highlight a:hover {
	text-decoration: underline
}
.no-js #primary-nav li:hover .mega,#primary-nav li.hover .mega {
	display: block
}
#primary-nav li .mega p a {
	margin-top: 5px
}
#primary-nav .mega img {
	padding: 3px;
	border: solid 1px #dad9d7;
}


.no-js #primary-nav ul li:hover.nochild a,#primary-nav ul li.hover.nochild a {
	border-radius: 4px;
}
#primary-nav ul li .sub .sub {
	float: none;
	position: static;
	padding: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}
#primary-nav ul li ul .featured a {
	font-size: 14px;
	font-weight: bold;
}
#primary-nav ul li ul {
	width: 220px;
	float: left;
	padding: 10px 0;
}
#primary-nav ul li ul a {
	padding: 3px 12px;
	line-height: 1.35;
}
#primary-nav ul li .sub ul a:hover,.no-js #primary-nav ul li .sub ul a:hover {
	color: #fff;
	background: $blue4;
	@include background-image(linear-gradient($blue2, $blue1));
}
#primary-nav ul li ul li ul {
	margin: -2px 0 2px;
	border: 0;
	padding: 0;
	float: none;
}
#primary-nav ul li ul li ul li {
	list-style-type: none;
}
#primary-nav ul li ul li ul li a {
	padding: 1px 12px 1px 24px;
}
#primary-nav ul li ul li ul li a:before {
	content: '\25B8';
	position: absolute;
	left: 12px;
	top: 2px;
	font-size: 10px;
	list-style-type: none;
}


#primary-nav .mega .links {
	padding-top: 5px;
}
#primary-nav .mega {
	height: 381px;
}
#primary-nav .highlight {
	padding-top: 5px;
}
html.ie7 #primary-nav .links .featured a {
	font-size: 13px;
}
html.ie7 #primary-nav .mega .links {
	padding-top: 3px;
}
html.ie7 #primary-nav .mega {
	height: 385px;
}
html.ie7 #primary-nav .highlight {
	padding-top: 3px;
}
html.ie7 #primary-nav>ul>li>a {
	min-height: 37px;
}
html.ie8 #primary-nav .links .featured a {
	font-size: 13px;
}

#primary-nav ul li ul li ul li a:before {
	list-style: none;
	content: none;
}
#primary-nav ul.double li ul {
	width: 200px;
}

*/





/* Side slide nav */

body {
  @include transition(left 0.2s ease);
  position: relative;
  left:0;
}

#main-header{
  position: relative;
}


/* Menu button */

.menu-button {
  position: absolute;
  width: 1.75em;
  height: 1.5em;
  padding: .5em;
  bottom:0;
  left:0;
  @include border-radius(3px);
  border:1px solid $blue2;
  text-indent: -999em;
  overflow: hidden;
  display: none;
  &:hover {
    background-color: $blue2;
    border-color: $blue3;
  }
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: .6em;
    width: 1.5em;
    margin-left:-.75em;
    height: 0.2em;
    background: #fff;
    @include border-radius(1px);
    @include box-shadow(0 0.55em 0 0 #fff, 0 1.1em 0 0 #fff);
  }
  
}

/* Side Navigation */

%sidenav {
  font-size: 1.2em;
    a {
    color: #fff;
    padding: 1em 5%;
    display: block;
    @include text-shadow(0px -1px 0px #000);
    &:hover {
      text-decoration: none;
      background-color: $blue0;
    }
  }
  > ul {
    padding:0;
    background: $blue2;
    border-right: 1px solid $blue3;
  }

  li {
    display: block;
    float:none;
    padding:0;
    border-bottom: 1px solid $blue1;
    border-top: 1px solid $blue3;
    overflow: hidden;
    &.left, &.right {
      padding: 0;
    }
    &.hover {
      background-color: $blue0;
    }
  }
}



%submenu {
  max-height:0px;
  @include transition(max-height 0.2s ease);
  background-color:$blue1;
  margin: 0;
  position: relative;
  a {
    padding-left:1.75em;
    border-top: 1px solid $blue2;
    border-bottom: 1px solid $blue0;
    padding:.65em 10%;
    padding-right:5%;
    color: $blue9;
    &:hover {
      color: #fff;
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    border: none;
  }
}

%activemenu {
  max-height:1500px;
}

/* Primary Nav */
#primary-nav {
  @extend %sidenav;
  .mega, .sub {
    @extend %submenu;
  }
  li.hover .mega, li.hover .sub {
    @extend %activemenu;
  }

  .highlight, .featured, hr {
    display: none;
  }
}

/* Secondary Nav */
#secondary-nav {
  @extend %sidenav;
  > ul {
    background-color: $blue4;
  }
  .sub {
    @extend %submenu;
  }
  a:hover {
    background-color: $blue3;
  }
  li {
    border-top-color: $blue5;
    border-bottom-color: $blue3;
    &.hover .sub {
      @extend %activemenu;
    }
  }
  ul {
    padding: 0;
  }
}



@media all and (min-width:275px) {
  .menu-button {
    display: block;
  }
  
  body.sideNav {
    left: 75%;
    #main-header, #content, footer {
      @include box-shadow( -5px 0px 5px $blue0);
    }
  }
  
  .nav-container {
    width: 75%;
    position: absolute;
    top:0;
    right: 100%;
    padding-top:1em;
    @include box-shadow(inset -5px 3px 10px $blue0); 
    display: none;
    .sideNav & {
      display: block;
    }    
  }

}


@media all and (min-width:750px) {
  .menu-button {
    display: none;
  }
  body.sideNav {
    left: 0;
  }
  
  .nav-container {
    position: relative;
    top:0;
    left:0;
    right:auto;
    width:auto;
    display: block;
    padding-top: 0;
    @include box-shadow(0px 1px 8px rgba(#000, 0.35));
    background-color: $blue0;
    border-top: 1px solid $blue3;
    border-bottom: 1px solid $blue3;
	overflow:auto;
  }

  
  %tab-nav {
    font-size: 1em;
    > ul {
      background: transparent;
      > li {
        float:left;
      }
    }
    li {
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
      &.hover {
        overflow: visible;
        > a {
          @include border-radius(3px 3px 0 0);
          position: relative;
          z-index: 2;
          box-shadow: 0px 3px 0px #fff;
        }
        a {
          background: #fff;
          color: $blue0;
          @include text-shadow(none);
        }
        ul a:hover {
          background: $blue2;
        }
      }
    }
    a {
      padding: .6em .75em;
    }
  }
  
  %tab-nav-submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 15em;
    padding:.5em 0 1em;
    @include border-radius(3px);
    @include box-shadow(0px 0px 12px rgba(#000, 0.5));
    z-index: 1;
    border-bottom: 2px solid $blue2;
    a {
      border-bottom: 0px solid transparent;
      border-top: 0px solid transparent;
      padding: .5em 1.5em;
    }
  }

  
  #primary-nav {
    padding-left: 2em;
    @extend %tab-nav;
    .mega {
      @extend %tab-nav-submenu;
      width: 100%;
      position: absolute;
      left: 0;
      top: 2.5em;
      @include border-radius(0 0 3px 3px);
      padding: 1em 0 2em;
      ul.links {
        margin-left: 1%;
      }
    }
    li.hover .mega {
      display: block;
    }
    .highlight, .featured, hr {
      display: block;
    }
    .links, .highlight {
      width: 30%;
      float: left;
    }
    hr {
      border:none;
      border-top: 1px solid #ddd;
    }
    .featured {
      font-weight: bold;
    }
    .links {
      &.double {
        width: 63%;
        .featured {
          a {
            padding-left: 5%;
            padding-right: 5%;
          }
          .sublinks {
            padding-left: 5%;
          }
        }
        .left {
          float: left;
          width: 50%;
        }
      }
      a {
        padding:.35em 10%;
      }
      ul.sublinks {
        padding-bottom: .25em;
        padding-left: 10%;
        a {
          padding: .25em 10%;
        }
      }
    }
    .highlight {
      padding-left: 3%;
      font-size: 1.1em;
      a {
        padding: 0;
        color: $blue2;
        &:hover {
          color: $blue0;
          text-decoration: underline;
        }
      }
    }
  }
  
  #secondary-nav {
    position: absolute;
    top:-3.2em;
    right: .5em;
    z-index: 501;
    @extend %tab-nav;
    .sub {
      @extend %tab-nav-submenu;
    }
    li.hover .sub {
      display: block;
    }
    a {
      color: $blue8;
      &:hover {
        background: transparent;
        color: #fff;
      }
    }
  }
  
/*
  nav ul { list-style: none; }
nav > ul > li { float: left }
nav li .sub { 
	box-shadow: 0 1px 8px rgba(0,0,0,0.7); 
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.7); 
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.7); 
	border: 1px solid #369;
	border-top: 0;
	margin-top: 0; }
.boxshadow nav li .sub {
	border: 0;
}
#secondary-nav {
	position: absolute;
	bottom: 6px;
	right: 0;
}
#secondary-nav li a {
	color: #a8c7e3;
	display: block;
	padding: 6px 8px;
	position: relative;
	z-index: 100;
	text-decoration: none;
}
.no-js #secondary-nav li:hover a, .no-js #secondary-nav li a:hover, #secondary-nav li.hover a {
	text-decoration: none;
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	color: #025;
}
#secondary-nav li .sub a {
	border-radius: 0;
	padding: 3px 12px;
}
#secondary-nav li .sub a:hover {
	color: #fff;
	background: #369;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#036),color-stop(100%,#025));
	background-image: -webkit-linear-gradient(top,#036 0,#025 100%);
	background-image: -moz-linear-gradient(top,#036 0,#025 100%);
	background-image: -o-linear-gradient(top,#036 0,#025 100%);
	background-image: -ms-linear-gradient(top,#036 0,#025 100%);
	background-image: linear-gradient(top,#036 0,#025 100%);
}
#secondary-nav .sub, #primary-nav .sub {
	background-color: #fff;
	display: none;
	width: 208px;
	padding: 9px 0 18px;
	border-bottom: 3px solid #369;
	position: absolute;
}
.no-js #secondary-nav li:hover .sub, #secondary-nav li.hover .sub, .no-js #primary-nav li:hover .sub, #primary-nav li.hover .sub { display: block }
#primary-nav {
	background-color: #011948;
	border-top: solid 1px #369;
	border-bottom: solid 1px #369;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	position: relative;
	z-index: 10;
}
#primary-nav ul {
    position: relative;
}
#primary-nav .sub {
    padding: 10px;
    width: 222px;
}

#primary-nav li a {
   padding: 10px 20px;
   font-size: 14px;
   display: block;
   color: #eee;
   position: relative;
   z-index: 500;
   text-decoration: none;
}
.no-js #primary-nav li:hover a, .no-js #primary-nav li a:hover, #primary-nav li.hover a {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    color: #011949;
    text-decoration: none;
}

.no-js #secondary-nav li:hover a.single, .no-js #secondary-nav li a.single:hover, #secondary-nav li.hover a.single,
.no-js #primary-nav li:hover a.single, .no-js #primary-nav li a.single:hover, #primary-nav li.hover a.single {border-radius:4px;}
 
#primary-nav .mega {
    display: none;
    position: absolute;
    background-color: #fff;
    font-size: 13px;	 
    padding: 10px;
    width: 920px;
    height: 371px;
    left: 32px;
    
    box-shadow: 0 1px 8px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.7);	
    border: 1px solid #369;
    border-top: 0;
    border-bottom: 3px solid #369;
}
.boxshadow #primary-nav .mega {
   border: 0;
   border-bottom: 3px solid #369;
}
 #primary-nav .mega p { margin: 9px 0 }
#primary-nav .left {
    float: left;
    width: 200px;
}
#primary-nav .links.double { width: 400px }
#primary-nav li .mega a, #primary-nav li .sub a, .no-js #primary-nav li .mega a, .no-js #primary-nav li .sub a {
    color: #147;
    background-color: transparent;
    border-radius: 0;
    font-size: 13px;
}
#primary-nav .mega a:hover, #primary-nav .sub a:hover { color: #025 }
#primary-nav hr {
    border: none;
    background: #ddd;
	height:1px;
	
}
#primary-nav .links .featured a {
    font-size: 14px;
    font-weight: bold;
}
#primary-nav .mega .links {
    background: url('../img/margin.png') no-repeat right 22px;
    width: 220px;
    float: left;
    padding: 10px 30px 0 0;
}
#primary-nav .links a {
    padding: 3px 12px;
    line-height: 1.35;
}
#primary-nav .links a:hover, .no-js #primary-nav .links a:hover {
    color: #fff;
    background: #369;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#036),color-stop(100%,#025));
    background-image: -webkit-linear-gradient(top,#036 0,#025 100%);
    background-image: -moz-linear-gradient(top,#036 0,#025 100%);
    background-image: -o-linear-gradient(top,#036 0,#025 100%);
    background-image: -ms-linear-gradient(top,#036 0,#025 100%);
    background-image: linear-gradient(top,#036 0,#025 100%);
}
#primary-nav .sublinks { margin: -2px 0 2px }
#primary-nav .sublinks li {list-style-type:none;}
#primary-nav .sublinks li a { padding: 1px 12px 1px 24px;}
#primary-nav .sublinks li a:before {
    content: '\25B8';
    position: absolute;
    left: 12px;
    top: 2px;
    font-size: 10px;
    list-style-type:none;
}
#primary-nav .highlight{
    float: left;
    width: 208px;
    margin-left: 24px;
}
#primary-nav .highlight a{ padding: 0 }
#primary-nav .highlight a:hover{ text-decoration: underline }
.no-js #primary-nav li:hover .mega, #primary-nav li.hover .mega { display: block }
#primary-nav li .mega p a { margin-top: 5px }
#primary-nav .mega img {
    padding: 3px;
    border: solid 1px #dad9d7;
}
*/

}
