/* @import "compass"; */
@import "colors";
@import "mixins";

$break-large: 768px;

/* Side slider navigation */

body {
  @include transition(left 0.2s ease);
  position: relative;
  left:0;
}

#main-header{
  position: relative;
}


/* Menu button */
.menu-button {
  position: absolute;
  width: 1.75em;
  height: 1.5em;
  padding: .5em;
  bottom:0;
  left:0;
  @include border-radius(3px);
  border:1px solid $blue2;
  text-indent: -999em;
  overflow: hidden;
  display: none;
  &:hover {
    background-color: $blue2;
    border-color: $blue3;
  }
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: .6em;
    width: 1.5em;
    margin-left:-.75em;
    height: 0.2em;
    background: #fff;
    @include border-radius(1px);
    @include box-shadow(#{"0 0.55em 0 0 #fff, 0 1.1em 0 0 #fff"});
  }
  
}

/* Side Navigation */

%sidenav {
  font-size: 1.2em;
    a {
    color: #fff;
    padding: 1em 5%;
    display: block;
    @include text-shadow(0px -1px 0px #000);
    &:hover {
      text-decoration: none;
      background-color: $blue0;
    }
  }
  > ul {
    padding:0;
    background: $blue2;
    border-right: 1px solid $blue3;
  }

  li {
    display: block;
    float:none;
    padding:0;
    border-bottom: 1px solid $blue1;
    border-top: 1px solid $blue3;
    overflow: hidden;
    &.left, &.right {
      padding: 0;
    }
    &.hover {
      background-color: $blue0;
    }
  }
}

%submenu {
  max-height:0px;
  @include transition(max-height 0.2s ease);
  background-color:$blue1;
  margin: 0;
  position: relative;
  a {
    padding-left:1.75em;
    border-top: 1px solid $blue2;
    border-bottom: 1px solid $blue0;
    padding:.65em 10%;
    padding-right:5%;
    color: $blue9;
    &:hover {
      color: #fff;
    }
  }
  ul {
	.sublinks{
		padding-left: 5%;
	}
    padding: 0;
    margin: 0;
  }
  li {
    border: none;
  }
}

%activemenu {
  max-height:1500px;
}

/* Primary Nav */
#primary-nav {
  @extend %sidenav;
  .mega, .sub {
    @extend %submenu;
  }
  li.hover .mega, li.hover .sub {
    @extend %activemenu;
  }

  .highlight, .featured, hr {
    display: none;
  }
}

/* Secondary Nav */
#secondary-nav {
  @extend %sidenav;
  > ul {
    background-color: $blue4;
  }
  .sub {
    @extend %submenu;
  }
  a:hover {
    background-color: $blue3;
  }
  li {
    border-top-color: $blue5;
    border-bottom-color: $blue3;
    &.hover .sub {
      @extend %activemenu;
    }
  }
  ul {
    padding: 0;
  }
}

@media all and (min-width:275px) {
  .menu-button {
    display: block;
  }
  
  body.sideNav {
    left: 75%;
    #main-header, #content, footer {
      @include box-shadow( -5px 0px 8px rgba($blue0, .65) );
      z-index: 2;
      position: relative;
    }
  }
  
  .nav-container {
    display: none;
	height:100%;
    padding-top:1em;
    position: absolute;
    right: 100%;
    top:0;
    width: 75%;
    z-index: 1;
    background-color: $blue1;
    .sideNav & { display: block;}    
  }

}

/*Full Screen Menus*/
@media all and (min-width:$break-large) {
  .menu-button { display: none;}
  body.sideNav { left: 0;}
  
  .nav-container {
    background-color: $blue0;
    border-top: 1px solid $blue3;
    border-bottom: 1px solid $blue3;
    display: block;
    height:auto;
	left:0;
    padding-top: 0;
	position: absolute;
    right:auto;
    top:90px;
    width:100%;
    @include box-shadow(0px 1px 8px rgba(#000, 0.35));
	z-index: 600;
  }

  
  %tab-nav {
    font-size: 1em;
    > ul {
      background: transparent;
      > li {
        float:left;
      }
    }
    li {
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
      &.hover {
        overflow: visible;
        > a {
          @include border-radius(3px 3px 0 0);
          position: relative;
          z-index: 2;
          box-shadow: 0px 3px 0px #fff;
        }
        a {
          background: #fff;
          color: $blue0;
          @include text-shadow(none);
        }
        ul a:hover {
          background: $blue2;
        }
      }
    }
    a {
      padding: .6em .75em;
    }
  }
  
  %tab-nav-submenu {
    display: none;
    position: absolute;
	background-color: #fff;
	font-size: 13px;
	padding: 10px;
	width: 920px;
	height: 371px;
	left: 32px;
    background-color: #fff;
    width: 15em;
    padding:.5em 0 1em;
    @include border-radius(3px);
    @include box-shadow(0px 0px 12px rgba(#000, 0.5));
    z-index: 1;
    border-bottom: 2px solid $blue2;
    a {
      border-bottom: 0px solid transparent;
      border-top: 0px solid transparent;
      padding: .5em 1.5em;
    }
  }

  #primary-nav {
    padding-left: 2em;
    @extend %tab-nav;
	>ul{
		width: 940px;
		margin: 0 auto;
		padding: 0 32px;	
		position: relative;
	}
	.sub { 
		background-color: #fff;
		border-bottom: 3px solid #369;
		box-shadow: 0 1px 8px rgba(0,0,0,0.7);
		display:none;
		margin-top: 0; 
		padding: 10px;
		position: absolute;
		width: 222px;
		a {border:none;}
	}
    .mega {
      @extend %tab-nav-submenu;
      position: absolute;
      @include border-radius(0 0 3px 3px);
      padding: 1em 0 2em;
	  width: 920px;
	  left:32px;
      ul.links { margin-left: 1%; }
    }
	
    li.hover .mega, li.hover .sub { display: block; }
    .highlight, .featured, hr { display: block; }
	
    .links, .highlight {
      width: 30%;
      float: left;
    }
    hr {
      border:none;
      border-top: 1px solid #ddd;
    }
    .featured { font-weight: bold; }
    .links {
      &.double {
        width: 63%;
        .featured {
          a {
            padding-left: 5%;
            padding-right: 5%;
          }
          .sublinks {
            padding-left: 5%;
          }
        }
        .left {
          float: left;
          width: 50%;
        }
      }
      a {
        padding:.35em 10%;
      }
      ul.sublinks {
        padding-bottom: .25em;
        padding-left: 10%;
        a {
          padding: .25em 10%;
        }
      }
    }
    .highlight {
      padding-left: 3%;
      font-size: 1.1em;
      a {
        padding: 0;
        color: $blue2;
        &:hover {
          color: $blue0;
          text-decoration: underline;
        }
      }
    }
  }
  
  #secondary-nav {
    position: absolute;
	bottom: 42px;
	right:9px;
    @extend %tab-nav;
    .sub {
      @extend %tab-nav-submenu;
    }
    li.hover .sub {
      display: block;
	  position: absolute;
    }
    a {
		display:inline-block;
      color: $blue8;
      &:hover {
        background: transparent;
        color: #fff;
      }
    }
  }
  
}

/* Small adjustments for when the screen is wider than max body width */
@media all and (min-width:940px) {
	#secondary-nav {
		right: 50%;
		margin-right: -470px;
	}
}
