@media all and (min-width: 840px) {
	/** RESPONSIVE MODIFICATIONS **/

	#slider .feature-image {
		margin-right:241px;
	}
	.feature-description
	{
		padding: 48px 15px 48px 30px;
		height: 100%;
		position:absolute;
		right:0;
		top:0;
		width:205px;
		text-align: left;
	}
	.feature-description p {display:inline;}

	#feature .anythingSlider .forward {right: 241px;}

	#feature .anythingControls {bottom: 27px;}

	#feature .thumbNav {margin-right: 241px;}
	/* End of slider styles */
}