/* Mobile.css */

@import "colors";
@import "mixins";

@import "prettify";
@import "normalize";
@import "boilerplate";

@import "font-awesome";

@import "basics";
@import "bootstrap-override";

@import "slider";

/* Header */
#main-header { background-color: $blue0;}

#header-top {
  position: relative;
  z-index: 101;
  h1 a {
    color: #fff;
  }
  a.sign-in {
    position: absolute;
    top: .35em;
    right: 0;
    margin-right:0;
  } }

#logo {
  background-color:$blue2;
  padding:.35em 5%;
  height:2em;
  padding-left:5%;
  border-bottom:1px solid $blue3;
  //margin:0 -5.5555%;
  a.byu {
    @include ir();
    background: transparent url($asset-base + 'img/byu-logo-sm.png') 0px 0px no-repeat;
  }
  h1, h2 {
    margin:0;
  }
  h1 {
    margin-left:-7px;
    text-indent: -999em;
    overflow: hidden;
    background: transparent url($asset-base + 'img/byu-logo-sm.png') 0px 0px no-repeat; }
    a {
      display:block;} }

a.mybyu, a.sign-in, .open #search-button {
  margin-right:5%;
  background-color:$blue5;
  color:#fff;
  padding:.35em 1.5em;
  text-decoration: none;
  font-weight: bold;
  border-radius:1em;
  border:none;
  @include transition(background-color .3s);
  &:hover {
	background-color: $blue4;
    cursor:pointer; } 
}

#search-container {
  right:5%; 
  top:0;
  .search {
    @include ir();
    line-height:2.5em;
    background:transparent url('../img/search.png') .45em center no-repeat; } }

#searchForm {
  clear: left;
  padding:0;
  border-top:1px solid transparent;
  margin-top:1em;  
  margin:1em 5% 4em;
  #q {
    font-size:1.25em;
    padding:.5em 1em; } }

#search-button {
  padding:.35em 1.5em;
  margin:.25em 0;
  background-color:$blue4;
  color:#fff;
  border:1px solid $blue5; }

/* Search */
#search-container {
  display: block;
  border-top: 1px solid $blue3;
  background-color: $blue2;
  //margin:0 -5.55%;
  right:0;
  padding: 5px 3% 6px;
  position: relative;
  
  
  // Wrapper for it all
  .gsc-control-cse, form.basic-search {
    padding:0 1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:none;
    -webkit-box-shadow: 0px 3px 0px $blue2;
       -moz-box-shadow: 0px 3px 0px $blue2;
            box-shadow: 0px 3px 0px $blue2;
    
    $searchbutton-width: 3.75em; 
    background-image: -webkit-radial-gradient(-5px center, 10px 20px, white 0%, white 80%, transparent 100%), -webkit-linear-gradient(top, $blue5, $blue4); /* Webkit */
    background-image:    -moz-radial-gradient(-5px center, 10px 20px, white 0%, white 80%, transparent 100%),    -moz-linear-gradient(top, $blue5, $blue4); /* FF */
    background-image:     -ms-radial-gradient(-5px center, 10px 20px, white 0%, white 80%, transparent 100%),     -ms-linear-gradient(top, $blue5, $blue4); /* IE */
    background-image:      -o-radial-gradient(-5px center, 10px 20px, white 0%, white 80%, transparent 100%),      -o-linear-gradient(top, $blue5, $blue4); /* Opera */
    background-image:         radial-gradient(-5px center, 10px 20px, white 0%, white 80%, transparent 100%),         linear-gradient(top, $blue5, $blue4); /* W3C */
    background-size: $searchbutton-width 2.5em;
    background-position: right;
    background-repeat: no-repeat;
  }
  
  // The search box
  form.gsc-search-box {
    margin-bottom: 0;
    width:auto;
    margin-right:2.5em;
    table.gsc-search-box, table.gsc-search-box td {
      border:none;
    }
    td.gsc-input {
      padding:0;
      margin:0;
      input:focus {
        border:none;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
      }
    }
    div.gsc-input-box {
      border:none;
      table, td {
        border:none;
        margin:0;
      }
    }
  }
  
.gsc-thumbnail-inside, .gsc-url-top {
	padding-left:0px;
}
  
.gsc-results-wrapper-overlay {
	padding: 5%;
	width: 80%;
	left: 5.5%;
}
  
.gsc-table-result, .gsc-above-wrapper-area-container {
	border:none;
	td, th{
		border:none;	
	}
}
  
  // The search button
  td.gsc-search-button {
    padding:0;
    input {
      margin:0;
      border:0;
      padding:.75em 2em .75em 1.5em;
      position: absolute;
      top:.25em;
      right:2.5%;
      background: none;
    }
  }
  
  // Generic search box
  form.basic-search {
    background-color: #fff;
    position: relative;
    padding-right:4em;
    margin-left:60px;
	margin-bottom:0px;
    #search {
      width:100%;
      border: none;
      padding: 3px 0;
      margin: 1px 0;
    }
    #search-submit {
      position: absolute;
      top:0;
      right:0;
      padding:  4px 0;
      width:3.75em;
      text-indent: -9999em;
      overflow: hidden;
      background-color: transparent;
      border: none;
      background-image: -webkit-radial-gradient(21px 10px, 6px 6px, transparent 0%, transparent 58%, white 68%, white 90%, transparent 100%);
      background-image:    -moz-radial-gradient(21px 10px, 6px 6px, transparent 0%, transparent 58%, white 68%, white 90%, transparent 100%);
      background-image:     -ms-radial-gradient(21px 10px, 6px 6px, transparent 0%, transparent 58%, white 68%, white 90%, transparent 100%);
      background-image:      -o-radial-gradient(21px 10px, 6px 6px, transparent 0%, transparent 58%, white 68%, white 90%, transparent 100%);
      background-image:         radial-gradient(21px 10px, 6px 6px, transparent 0%, transparent 58%, white 68%, white 90%, transparent 100%);
      background-size: 3em 20px;
      background-repeat: no-repeat;
      z-index:1;
    }
    &:after {
      content: " ";
      display: block;
      width:2px;
      height: 7px;
      border-radius: 2px;
      background-color: white;
      position: absolute;
      top:13px;
      right:25px;
      z-index: 10;
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
      z-index:0;
    }
  }
  
  div.gcse-wrapper {
    z-index: 2;
    position: absolute;
    top:0px;
    left:0px;
    padding:4px 8px;
    margin-left: 60px;
  }

}


/* Main Content */
.wrapper {
  margin: 0; }

#content { padding:1em 32px 2em; }

  
/* Calendar */
#calendar {
  h2 {
    margin-bottom:0; } }
.day {
  a, span {
    display:block; }
  span.date {
    margin-right:.33em; 
    display: inline; 
    font-weight:normal; } }

#calendars {
  margin:0;
  padding:.5em 0 0; }

#calendar, #news {
  border-top:4px solid #f7f7f7;
  margin-top:1px;
  padding-bottom:1em; }
#calendar, #news, #feature {
  border-bottom:1px solid #ccc; }
ul#calendars{list-style: none}
.day {padding:.75em 0 0}
a.baseline, #calendar > strong, a.more {font-weight: bold; margin-top:1.5em; padding-bottom:1.5em; display: block;}


/* News */
.news-item {padding:.25em 0 0}
.briefs-item {padding:.1em 0 0}
#briefs-container {border-bottom:1px solid #eee; padding-bottom:.75em; margin-bottom:.5em;}

/* Footer */
footer {
  background-color:#eeebe9;
  border-top:1px solid #fff;
  border-bottom:2px solid transparent;
  a, a:link, a:visited {
    color: $brown1;
    display: block;
    padding:.35em 1%;
    font-size:.95em; }
  a:hover, a:active, a:focus {
    color:$brown0; }
  h2 {
    color:$brown0;
    margin-top:1.5em;
    font-size:1em;
    border-bottom:1px solid $brown3; }
  h3 {
    font-weight:normal;
    color:$brown0;
    font-size:.95em;
    margin:1em 0 0; }
  p {
    color:$brown1;
    font-size:.95em; } }
    
#footer-links {
  border-bottom:1px solid #ccc;
  padding-bottom:1.5em;
  div.alpha {
    margin-top:0; border-top:none; }
  .addthis_default_style a {
    clear:left;padding:0;}
  .addthis_toolbox a { 
    padding-left:0;
    span { 
      padding-right:10px; 
      margin:0; } } }

#footer-bottom {
  background-color:#e5e2df;
  border-top:1px solid #fff;
  padding-top:.5em;
  padding-bottom:1em;
  padding-left:5%;
  padding-right:5%; }
