/* Responsive CSS */

/*#primary-nav, #secondary-nav {
 display:none; }
 
#content {
  #primary-nav, #secondary-nav {
    display:block; }
  li.featured, hr, div.highlight {
      display: none; } }

#primary-nav-menu {
 position:absolute;
 margin:0;
 padding:0 5%;
 a {
   border-radius:3px 3px 0 0;
   display:inline-block;
   color:$grayC;
   padding:.6em 1.4em .7em;
   margin-left:-1em;
   font-weight:bold;
   text-decoration: none;
   &:hover {
     color:#fff; }
   &.open {
     text-decoration:none;
     background-color:#fff;
     color:$blue0; } } }

.click-off {
  width: 1px;
  height: 1px;
  position: absolute;
  top:-1px;
  left: -1px; }*/