@import "compass";
@import "global-colors";

body { 
  background: url(/home/sites/all/themes/homepage/img/body-linen.png); 
  color: #444; font: 13px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
  *font-size:small;
  width: 100%;
}
body,select,input,textarea { color: #444 }
em, i { font: italic 13px/18px "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif; }
strong, b { font: bold 13px/18px "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
  
h1 { font: bold 36px/36px "Palatino Linotype","Palatino",Times,"Times New Roman",serif; margin: 18px 0; color: $blue2; }
h2 { font: bold 24px/27px "Palatino Linotype","Palatino",Times,"Times New Roman",serif; margin: 18px 0 9px; }
h3 { font: bold 15px/18px Helvetica,Arial,sans-serif }
h4 { font: bold 13px/18px "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
h5 { font: 13px/18px "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
h6 { font: italic 13px/18px "Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif }
h2,h3,h4,h5,h6 { color: #444 }
h3,h4,h5,h6 { margin: 9px 0 }
h1+h2,h3+h4,h4+h5,h5+h6 { margin-top: -9px }

a {
	color: $blue4; text-decoration: none;
	p & { text-decoration: underline }
  &:hover { color: $blue1; text-decoration: underline; }
  &:active { color: #c00 }
  &.visited { color: #539 }
}

p { margin: 9px 0 }

blockquote { font-style: italic; margin: 1.5em 10px; padding: .5em 10px; background-color: #f4f4f4; border: 1px solid #dedede; box-shadow: 2px 3px 5px 0 #dedede; -moz-box-shadow: 2px 3px 5px 0 #dedede; -webkit-box-shadow: 2px 3px 5px 0 #dedede; color: #333; margin: 25px 20px 25px 0; padding: 3px 25px; }
blockquote:before { color: #bbb; content: "\201C"; font-size: 3em; line-height: .1em; margin-right: .2em; vertical-align: -.4em; }
blockquote:after { color: #bbb; content: "\201D"; font-size: 3em; line-height: .1em; vertical-align: -.45em; }
blockquote :first-child { display: inline }

table { border-collapse: collapse; border-spacing: 0; margin: 0 0 9px; }
table,td,th { border: 1px solid #ddd }
td,th { padding: .125em .5em; text-align: left; vertical-align: top; }
td { border-left: 1px dotted #eee; border-right: 1px dotted #eee; }
th { background: #f9f9f9; border-right: 1px solid #e9e9e9; border-left: 1px solid #e9e9e9; }
table caption { color: #888; text-align: left; margin: .15em .25em; font-style: italic; }
tfoot { font-weight: bold }
tfoot td { color: #666; border-top-color: #666; }
td,td img { vertical-align: top }

ul,ol { margin-left: 1.5em }
ol { list-style-type: decimal; margin-left: 2em; }
ol ol { list-style-type: lower-alpha }
ol ol ol { list-style-type: lower-roman }
ol ol ol ol { list-style-type: decimal }
ol ol ol ol ol { list-style-type: lower-alpha }
ol ol ol ol ol ol { list-style-type: lower-roman }
ul { list-style-type: disc; margin-left: 2em; }
ul ul { list-style-type: circle }
ul ul ul { list-style-type: disc }
ul ul ul ul { list-style-type: circle }
ul ul ul ul ul { list-style-type: disc }
ul ul ul ul ul ul { list-style-type: circle }
ul ul { margin-top: .25em; margin-bottom: .25em; }

nav ul,nav ul ul { list-style: none }
nav ul,nav li { margin: 0; }

dt { font-weight: bold }
dd { padding: 0 0 .75em 1em }