@import "compass";
@import "global-colors";

%button {
  color: #fff;
  display: block;
  background: $blue6;
	@include background-image(linear-gradient($blue6, $blue4));
	@include border-radius(14px);
	@include box-shadow(0 1px 0 rgba(#fff, 0.25) inset, 0 1px 8px rgba(#000, 0.2));
  padding: 5px 28px;
  float: left;
  margin-right: 12px;
  text-decoration: none;
  font-weight: bold;
}




ul li.collapsed{ list-style:none;}
#content {
	width: 940px;
	margin: 0 auto;
	padding: 0 32px;
}
#search-container > div > div {float: left;}
#user-login-form .item-list, #edit-cas-login-redirection-message {display:none;margin:0;}
#user-login-form #edit-actions {margin:0}
#block-system-user-menu .content li {
	list-style-type: none;
}
#search-container #block-user-login form {
	box-shadow: none;
	background-image: none;
}

#block-system-user-menu .content a {
  @extend %button;
}

#block-system-user-menu .content a:hover {
    background: $blue4;
  	@include background-image(linear-gradient($blue4, $blue3));
}

#block-user-login input.form-submit{
  @extend %button;
	border: none;
}
#block-user-login input.form-submit:hover {
  background: $blue4;
  @include background-image(linear-gradient($blue4, $blue3));
}

div.contextual-links-wrapper {z-index:1;}