extends _layout

block pageTitle
	| BYU - Page Elements

block heading
	| Style Guide

block byulink
	| Brigham Young University

append end-scripts
	script(src='js/prettify.js')
	script.
		prettyPrint();

block breadcrumb

block content

	section#frameworks
		.page-header
			h1 Built-in frameworks
		h2 Bootstrap Styles
		p
			| BYU's templates have some core features of 
			a(href='http://getbootstrap.com/2.3.2/') Twitter Bootstrap
			|  built in.
		p
			| This means you can forget wondering what sort of button styles to use, or whether there's a good jQuery dropdown plugin around. It's all there from the start. We've updated the 
			code variables.scss
			|   file with colors, fonts, and sizes that are customized and compatible with BYU's style.
		hr.bs-docs-separator


		h2 FontAwesome Icons
		p
			| We've also included a 
			em sweet
			|  icon set for your UI pleasure. Again, no need to reinvent the wheel here.
		p
			| The latest and greatest in icon design is vectors; specifically, icon fonts. They're scalable, colorable, and completely accessible. Yes, they're that good. Happy designing. Some examples below.
		p
			a(href='http://fortawesome.github.io/Font-Awesome/icons/') Check out the full icon set 
			| (369 icons) and the useful 
			a(href='http://fortawesome.github.io/Font-Awesome/examples/') usage guidelines.
		.bs-docs-example
			ul.unstyled
				li
					i.fa.fa-fw.fa-bars
					|  fa-bars
				li
					i.fa.fa-fw.fa-bolt
					|  fa-bolt
				li
					i.fa.fa-fw.fa-calendar
					|  fa-calendar
				li
					i.fa.fa-fw.fa-check
					|  fa-check
				li
					i.fa.fa-fw.fa-cog
					|  fa-cog
				li
					i.fa.fa-fw.fa-comment
					|  fa-comment
				li
					i.fa.fa-fw.fa-lock
					|  fa-lock
				li
					i.fa.fa-fw.fa-refresh
					|  fa-refresh
				li
					i.fa.fa-fw.fa-search
					|  fa-search
				li
					i.fa.fa-fw.fa-trash-o
					|  fa-trash-o
				li
					i.fa.fa-fw.fa-caret-down
					|  fa-caret-down
				li
					i.fa.fa-fw.fa-caret-right
					|  fa-caret-right
		pre.prettyprint &lt;i class="fa fa-bolt"&gt;&lt;/i&gt; Expeliarmus!
			&lt;i class="fa fa-calendar"&gt;&lt;/i&gt; Calendar
			&lt;i class="fa fa-cog"&gt;&lt;/i&gt; Settings
			&lt;i class="fa fa-comment"&gt;&lt;/i&gt; Say something!
			...
		.bs-docs-example
			ul.unstyled
				li
					i.fa.fa-search
					|  [standard size]
				li
					i.fa.fa-search.fa-lg
					|  fa-lg
				li
					i.fa.fa-search.fa-2x
					|  fa-2x
				li
					i.fa.fa-search.fa-3x
					|  fa-3x
		pre.prettyprint &lt;i class="fa fa-search"&gt;&lt;/i&gt;
			&lt;i class="fa fa-search fa-lg"&gt;&lt;/i&gt;
			&lt;i class="fa fa-search fa-2x"&gt;&lt;/i&gt;
			&lt;i class="fa fa-search fa-3x"&gt;&lt;/i&gt;
			...
		.bs-docs-example
			ul.unstyled
				li
					i.fa.fa-spin.fa-refresh
					|  Spinning icon
		pre.prettyprint &lt;i class="fa fa-spin fa-cog"&gt;&lt;/i&gt;
			&lt;i class="fa fa-spin fa-spinner"&gt;&lt;/i&gt;
			&lt;i class="fa fa-spin fa-refresh"&gt;&lt;/i&gt;
			...




		hr.bs-docs-separator
		h2 HTML5 Boilerplate (h5bp)

		p
			| We've borrowed liberally from the great 
			a(href="h5bp.com") h5bp project
			|  for the benefit of the research that some of the best minds in web development have given there. Below are documented some of the CSS helper classes you may find useful.

		h3 Image replacement

		h4: code .ir

		p This solves the common problem of replacing text with an image via CSS. It keeps your markup semantic and accessible, but provides most users with the an image rather than just plain text. It's really useful for logos and things like that. Notice that the markup looks like plain text, and the image

		p
			span.label.label-warning Note
			|  When using the 
			code .ir
			|  class, make sure to specify the 
			code background-image
			| , 
			code width
			| , and 
			code height
			| . 

		.bs-docs-example
			div.ir(style="background-image:url('images/stretch_y.png'); width:100px; height:65px;") Hidden text here
		pre.prettyprint.html &lt;div id="stretch-Y" class="ir"&gt;BYU Cougars&lt;/div&gt;

		p The relevant css might look something like the following.

		pre.prettyprint.css #stretch-Y {
			|   background-image:url('images/stretch_y.png');
			|   width:100px;
			|   height:65px;
			| }

		h3 Hiding elements

		p Again in the spirit of accessibility and semantics, there are several shades of visibility that may be more useful or desirable than just
			code display:none
			| . Add the following classes to any element to get just the right effect.

		h4: code .hidden
		p Hide from both screenreaders and browsers
			small (
				a(href="http://h5bp.com/u") h5bp.com/u
				| )
		h4: code .visuallyhidden
		p Hide only visually, but have it available for screenreaders (also available for focus by keyboard navigation)
			small (
				a(href="http://h5bp.com/v") h5bp.com/v
				| )
		h4: code .invisible
		p Hide visually and from screenreaders, but maintain layout

		h3 Clearfix
		h4: code .clearfix
		p The ever-useful clearfix available as a global class. Apply to any container that has floated elements which shouldn't extend outside said container.




	//hr.bs-docs-separator
	section#buttons
		.page-header
			h1 Buttons
		p
			| Button styles can be applied to anything with the 
			code .btn
			|  class applied. However, typically you'll want to apply these to only 
			code &lt;a&gt;
			|  and 
			code &lt;button&gt;
			|  elements for the best rendering.
		table.table.table-bordered.table-striped
			thead
				tr
					th Button
					th class=""
					th Description
			tbody
				tr
					td
						button.btn(type='button') Default
					td
						code btn
					td Standard gray button with gradient
				tr
					td
						button.btn.btn-primary(type='button') Primary
					td
						code btn btn-primary
					td
						| Provides extra visual weight and identifies the primary action in a set of buttons
				tr
					td
						button.btn.btn-info(type='button') Info
					td
						code btn btn-info
					td Used as an alternative to the default styles
				tr
					td
						button.btn.btn-success(type='button') Success
					td
						code btn btn-success
					td Indicates a successful or positive action
				tr
					td
						button.btn.btn-warning(type='button') Warning
					td
						code btn btn-warning
					td Indicates caution should be taken with this action
				tr
					td
						button.btn.btn-danger(type='button') Danger
					td
						code btn btn-danger
					td Indicates a dangerous or potentially negative action
				tr
					td
						button.btn.btn-inverse(type='button') Inverse
					td
						code btn btn-inverse
					td Alternate dark gray button, not tied to a semantic action or use
				tr
					td
						button.btn.btn-link(type='button') Link
					td
						code btn btn-link
					td
						| Deemphasize a button by making it look like a link while maintaining button behavior
		h4 Cross browser compatibility
		p
			| IE9 doesn't crop background gradients on rounded corners, so we remove it. Related, IE9 jankifies disabled 
			code button
			|  elements, rendering text gray with a nasty text-shadow that we cannot fix.
		h2 Button sizes
		p
			| Fancy larger or smaller buttons? Add 
			code .btn-large
			|  , 
			code .btn-small
			|  , or 
			code .btn-mini
			|  for additional sizes.
		.bs-docs-example
			p
				button.btn.btn-large.btn-primary(type='button') Large button
				button.btn.btn-large(type='button') Large button
			p
				button.btn.btn-primary(type='button') Default button
				button.btn(type='button') Default button
			p
				button.btn.btn-small.btn-primary(type='button') Small button
				button.btn.btn-small(type='button') Small button
			p
				button.btn.btn-mini.btn-primary(type='button') Mini button
				button.btn.btn-mini(type='button') Mini button
		p
			| Create block level buttons—those that span the full width of a parent— by adding 
			code .btn-block
			|  .
		.bs-docs-example
			.well(style='max-width: 400px; margin: 0 auto 10px;')
				button.btn.btn-large.btn-block.btn-primary(type='button') Block level button
				button.btn.btn-large.btn-block(type='button') Block level button
		h2 Disabled state
		p
			| Make buttons look unclickable by fading them back 50%. Just add the 
			code .disabled
			|  class.
		p.bs-docs-example
			a.btn.btn-large.btn-primary.disabled(href='#') Primary link 
			a.btn.btn-large.disabled(href='#') Link
		p
			span.label.label-info Heads up!
			| We use 
			code .disabled
			|  as a utility class here, similar to the common 
			code .active
			|  class, so no prefix is required. Also, this class is only for aesthetic; you must use custom JavaScript to disable links here.
		h2 One class, multiple tags
		p
			| Use the 
			code .btn
			|  class on an 
			code &lt;a&gt;
			|  , 
			code &lt;button&gt;
			|  , or 
			code &lt;input&gt;
			|  element.
		form.bs-docs-example
			a.btn(href='') Link
			button.btn(type='submit') Button
			input.btn(type='button', value='Input')
			input.btn(type='submit', value='Submit')
		p
			| As a best practice, try to match the element for your context to ensure matching cross-browser rendering. If you have an 
			code input
			| , use an 
			code &lt;input type="submit"&gt;
			|  for your button.





	// hr.bs-docs-separator
	// .container.showgrid
		h1 HTML elements
		h2
			| A test for all the HTML elements
			h5
				| PARAGRAPHS
				span.alt &
				| BOXES
			.span-8
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
					sub sub text
					| ut labore et
					sup sup text
					| magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.span-8
				p.small
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				p.large
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.span-8.last
				.box
					p.last
						| Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.clearfix
					h1 Two Sidebar  Sample
					h2 This is a sample page demonstrating the use of two columns
					.sidebar This is the left sidebar. Navigation links are best placed here.
					#main-content This is the main content.
					.sidebar.omega This is the right sidebar. Supplemental information is best placed here.
				blockquote
					p
						| This is a blockquote. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			h5 LISTS
			.span-8
				ul
					li Unordered list test
					li Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li Yet another element in the list
					li
						| Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				ol
					li Ordered list test
					li Another list element
					li Yet another element in the list
			.span-8
				ol
					li Ordered list
					li
						| Here's a nested unordered list
						ul
							li Nested Unordered list
							li
								| Nested ordered list
								ol
									li The first
									li And the second
					li Ordered List item
					li
						| Nested Ordered list
						ol
							li Some point
							li
								| Nested Unordered list
								ul
									li The first
									li And the second
			.span-8.last
				dl
					dt definition list dt
					dd definition list dd
					dt definition list dt
					dd definition list dd
					dt
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit
					dd
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit
					dt
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit
					dd
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit
			h5 HEADINGS
			.span-8
				h1 H1: Lorem ipsum dolor sit amet
				h2 H2: Lorem ipsum dolor sit amet, consectetur elit
				h3 H3: Lorem ipsum dolor sit amet, consectetur adipisicing elit
				h4 H4: Lorem ipsum dolor sit amet, consectetur adipisicing elit adipis
				h5
					| H5: Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit
				h6
					| H6: Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit
			.span-8
				h1 Heading 1
				h2 Heading 2
				h3 Heading 3
				h4 Heading 4
				h5 Heading 5
				h6 Heading 6
			h5 MISC ELEMENTS
			.span-8
				p
					strong &lt;strong&gt;
					br
					del &lt;del&gt; deleted
					br
					dfn &lt;dfn&gt; dfn
					br
					em &lt;em&gt; emphasis
				p
					a &lt;a&gt; anchor
					br
					a(href='#') &lt;a&gt; a + href
				p
					abbr(title='extended abbr text should show when mouse over') &lt;abbr&gt; abbr - extended text when mouseover.
					br
					acronym(title='extended acronym text should show when mouse over') &lt;acronym&gt; acronym - extended text when mouseover.
				address
					| &lt;address&gt;
					br
					| Donald Duck
					br
					| Box 555
					br
					| Disneyland
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore.
				h4 Example Form
				form(role='form') Example Form
				button Button Style 1
				button Button Style 2
			.span-8
				table(summary='This is the summary text for this table.', border='0', cellspacing='0', cellpadding='0')
					caption
						em A standard test table with a caption, tr, td elements
					tr
						th.span-4 Table Header One
						th.span-4.last Table Header Two
					tr
						td TD One
						td TD Two
					tr
						td(colspan='2') TD colspan 2
				table(summary='This is the summary text for this table.', border='0', cellspacing='0', cellpadding='0')
					caption
						em A test table with a thead, tfoot, and tbody elements
					thead
						tr
							th.span-4 Table Header One
							th.span-4.last Table Header Two
					tfoot
						tr
							td(colspan='2') tfoot footer
					tbody
						tr
							td TD One
							td TD Two
						tr
							td TD One
							td TD Two
					tbody
						tr
							td TD One
							td TD Two
						tr
							td TD One
							td TD Two
			.span-8.last
				pre
					&lt;pre&gt;
					pre  space1
					pre  space1
					pre    space2
					pre    space2
					pre tab
					pre tab
				code
					&lt;code&gt;
					Not indented
					indent1
					indent1
					indent2
					indent3
				tt
					| &lt;tt&gt;
					| This tt text should be monospaced
					| and
					| wrap as if
					| one line of text
					| even though the code has newlines, spaces, and tabs.
					|  It should be the same size as &lt;p&gt; text.
	// table(border='1', cellpadding='1', cellspacing='1', style='width: 500px;')
		thead
			tr
				th(scope='row')
				th(scope='col') Top Heading
				th(scope='col')
					| Top Heading
				th(scope='col')
					| Top Heading
				th(scope='col')
					| Top Heading
		tbody
			tr
				th(scope='row')
					| Left Heading
				td 1
				td 2
				td 3
				td 4
			tr
				th(scope='row') Left Heading
				td
					| 5
				td
					| 6
				td
					| 7
				td
					| 8
			tr
				th(scope='row')
					| Left Heading
				td
					| 9
				td
					| 10
				td
					| 11
				td
					| 12
			tr
				th(scope='row')
				td
					| 13
				td
					| 14
				td
					| 15
				td
					| 16




	// hr.bs-docs-separator
	section#typography
		.page-header
			h1 Typography
		h2#headings Headings
		p
			| All HTML headings, 
			code &lt;h1&gt;
			|  through 
			code &lt;h6&gt;
			|  are styled.
		.bs-docs-example
			h1 h1. Heading 1
			h2 h2. Heading 2
			h3 h3. Heading 3
			h4 h4. Heading 4
			h5 h5. Heading 5
			h6 h6. Heading 6

		// .bs-docs-example
			h1 h1. Heading 1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			h2 h2. Heading 2
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			h3 h3. Heading 3
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			h4 h4. Heading 4
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			h5 h5. Heading 5
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			h6 h6. Heading 6
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

		hr.bs-docs-separator
		h2#body-copy Body copy
		p
			| BYU's global default 
			code font-size
			|  is 
			strong 15px
			| , with a 
			code line-height
			|  of 
			strong 20px
			| . This is applied to the 
			code &lt;body&gt;
			|  and all paragraphs. In addition, 
			code &lt;p&gt;
			|  (paragraphs) receive a bottom margin of half their line-height (10px by default).
		.bs-docs-example
			p
				| Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
			p
				| Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
			p
				| Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
		pre.prettyprint &lt;p&gt;...&lt;/p&gt;

		h3 Lead body copy
		p
			| Make a paragraph stand out by adding 
			code .lead
			| .
		.bs-docs-example
			p.lead
				| Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
		pre.prettyprint &lt;p class="lead"&gt;...&lt;/p&gt;

		hr.bs-docs-separator
		h2#extras Extras

		h3 Alignment classes
		p Easily realign text to components with text alignment classes.
		.bs-docs-example
			p.text-left Left aligned text.
			p.text-center Center aligned text.
			p.text-right Right aligned text.
		pre.prettyprint &lt;p class="text-left"&gt;Left aligned text.&lt;/p&gt;
			&lt;p class="text-center"&gt;Center aligned text.&lt;/p&gt;
			&lt;p class="text-right"&gt;Right aligned text.&lt;/p&gt;

		h3 Emphasis classes
		p Convey meaning through color with a handful of emphasis utility classes.
		.bs-docs-example
			p.muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
			p.text-warning Etiam porta sem malesuada magna mollis euismod.
			p.text-error Donec ullamcorper nulla non metus auctor fringilla.
			p.text-info Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
			p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
		pre.prettyprint &lt;p class="muted"&gt;Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.&lt;/p&gt;
			&lt;p class="text-warning"&gt;Etiam porta sem malesuada magna mollis euismod.&lt;/p&gt;
			&lt;p class="text-error"&gt;Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;
			&lt;p class="text-info"&gt;Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.&lt;/p&gt;
			&lt;p class="text-success"&gt;Duis mollis, est non commodo luctus, nisi erat porttitor ligula.&lt;/p&gt;


		h3 Blockquote options
		p Style and content changes for simple variations on a standard blockquote.
		h4 Naming a source
		p
			| Add 
			code &lt;small&gt;
			|  tag for identifying the source. Wrap the name of the source work in 
			code &lt;cite&gt;
			|  .
		.bs-docs-example
			blockquote
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. 
				small
					| Someone famous in 
					cite(title='Source Title') Source Title
		pre.prettyprint &lt;blockquote&gt;
			|   &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
			|   &lt;small&gt;Someone famous &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/small&gt;
			| &lt;/blockquote&gt;

		h4 Alternate displays
		p
			| Use 
			code .pull-right
			|  for a floated, right-aligned blockquote. 
		.bs-docs-example(style='overflow: hidden;')
			blockquote.pull-right
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				small
					| Someone famous in
					cite(title='Source Title') Source Title
		pre.prettyprint &lt;blockquote class="pull-right"&gt;
			...
			&lt;/blockquote&gt;

		h3 List options

		h4 Unstyled
		p
			| Remove the default 
			code list-style
			|  and left padding on list items (immediate children only).
		.bs-docs-example
			ul.unstyled
				li Lorem ipsum dolor sit amet
				li Consectetur adipiscing elit
				li Integer molestie lorem at massa
				li Facilisis in pretium nisl aliquet
				li
					| Nulla volutpat aliquam velit
					ul
						li Phasellus iaculis neque
						li Purus sodales ultricies
						li Vestibulum laoreet porttitor sem
						li Ac tristique libero volutpat at
				li Faucibus porta lacus fringilla vel
				li Aenean sit amet erat nunc
				li Eget porttitor lorem
		pre.prettyprint &lt;ul class="unstyled"&gt;
			|   &lt;li&gt;...&lt;/li&gt;
			| &lt;/ul&gt;

		h4 Inline
		p
			| Place all list items on a single line with 
			code inline-block
			|  and some light padding.
		.bs-docs-example
			ul.inline
				li Lorem ipsum
				li Phasellus iaculis
				li Nulla volutpat
		pre.prettyprint &lt;ul class="inline"&gt;
			|   &lt;li&gt;...&lt;/li&gt;
			| &lt;/ul&gt;

		h4 Horizontal description list
		p
			| Make terms and descriptions in 
			code &lt;dl&gt;
			|  line up side-by-side.
		.bs-docs-example
			dl.dl-horizontal
				dt Description lists
				dd A description list is perfect for defining terms.
				dt Euismod
				dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				dd Donec id elit non mi porta gravida at eget metus.
				dt Malesuada porta
				dd Etiam porta sem malesuada magna mollis euismod.
				dt Felis euismod semper eget lacinia
				dd
					| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		pre.prettyprint &lt;dl class="dl-horizontal"&gt;
			|   &lt;dt&gt;...&lt;/dt&gt;
			|   &lt;dd&gt;...&lt;/dd&gt;
			| &lt;/dl&gt;

		p
			span.label.text-warning Heads up! 
			| Horizontal description lists will truncate terms that are too long to fit in the left column fix 
			code text-overflow
			|  . In narrower viewports, they will change to the default stacked layout.

		h3 Alternate typographic styles
		h4 Small caps
		p.sc This text should be set in small caps
		h4 Lining numerals
		p.lnum These numbers should be lining: 1234567890
		p And these should not: 1234567890