extends _layout

block head
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, , initial-scale=1')

		title BYU Header

		// Place favicon.ico and apple-touch-icon.png in the root directory
		link(rel='shortcut icon', href='favicon.ico')

		// Styles
		link(rel="stylesheet", href="//cloud.typography.com/75214/688502/css/fonts.css")
		link(rel='stylesheet', href='css/header.css')

		// Modernizr for SVG image fallbacks. If you use your own build, make sure it has SVG test
		script(src='js/modernizr.js')

block parentlink
	a.byulink(href="#") Brigham Young University
	a.parentlink(href='#') Parent Organization


//- Block removal
block contentwrapper
block content
block nav
block search-menu
block sign-in
block footer
block end-scripts
