extends _layout

block pageTitle
	| BYU - Page Type 4

block parentlink
	a.byulink(href="#") Brigham Young University
	a.parentlink(href='#') Parent Organization

block heading
	| Application

block content
	h1 Main title
	p Content for app goes here
