extends _layout

block pageTitle
	| BYU - Page Type 3

block parentlink
	a.byulink(href="#") Brigham Young University
	a.parentlink(href='#') Parent Organization

block heading
	| Secondary Organization

block content
	h1 Main Title
	h2 Sub Title
	p
		| See the 
		a(href='https://web.byu.edu/styleguide') Style Guide
		|  for layouts and code snippets that you can copy and paste.
