extends _layout

block pageTitle
	| BYU - Sample 1

block parentlink
	a.byu(href='http://www.byu.edu/') Brigham Young University

block heading
	| Primary Organization

block settings
	script.
		var pageSettings = {
			jQueryURL:     "http://byuweb.github.io/Global-Assets/js/jquery-1.10.2.min.js", // Use this default, or load jQuery from somewhere else
			jQueryVersion: "1.10.2", // The jQuery version for fallback in case there's a problem loading jQuery
			loadslider:    true, // Whether the image slider is present on the page
			additionalScripts:   [], // Array of strings specifying URLs for additional scripts to load
			gcse_search:    true, // Use the Google Custom Search Engine for the site's search?
			gcse_search_id: '009932716493032633443:hlqjz33kfkc',  // Use this BYU GCSE id, or insert your own
			analytics_key:  'UA-XXXXX-X' // Insert your Google Analytics key
		}


block breadcrumb

block prepend contentwrapper
	- var contentclasses = ''

block content

	#feature

		//
			| Anything Slider
		ul#slider
			li.feature
				.feature-image
					img(src='images/slider/feature-main.jpg', alt='Featured image 1')
				.feature-description(data-background="#d1e4f6", data-shadow="#91b2d2")
					h2
						a(href='#') Slider Feature 1
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			li
				.feature-image
					img(src="", data-src='images/slider/feature-main.jpg', alt='Featured image 2')
				.feature-description.lightText(data-background="#339947", data-shadow="#006614")
					h2
						a(href='#') Slider Feature 2
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			li
				.feature-image
					img(src="", data-src='images/slider/feature-main-3.jpg', alt='Featured image 3')
				.feature-description.lightText(data-background="#444", data-shadow="#111")
					h2
						a(href='#') Slider Feature 3
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


	#calendar
		h2 Calendar
		.day
			h3
				span.date 24
				| Aug, Friday
			.calendar-item
				a(href='http://calendar.byu.edu/calendar/2012-08-24#choral', title='Choral Auditions  @ BYU Campus - All Day') Choral Auditions
				span.time All Day

			.calendar-item
				a(href='http://calendar.byu.edu/calendar/2012-08-24#newstudent', title='New Student Orientation  @ Various Campus Locations - 9:40 AM') New Student Orientation 
				span.time 9:40 AM
		.day
			h3
				span.date 25
				| Aug, Saturday
			.calendar-item
				a(href='http://calendar.byu.edu/calendar/2012-08-25#choral', title='Choral Auditions  @ BYU Campus - All Day ') Choral Auditions
				span.time All Day
			.calendar-item
				a(href='http://calendar.byu.edu/calendar/2012-08-25#newstudent', title='New Student Orientation  @ Various Campus Locations - 9:00 AM') New Student Orientation 
				span.time 9:00 AM
		.day
			h3
				span.date 27
				| Aug, Monday
			.calendar-item
				a(href='http://calendar.byu.edu/calendar/2012-08-27', title='First Day of Fall Semester Classes  - All Day ') First Day of Fall Semester Classes 
				span.time All Day
		.day
			h3
				span.date 28
				| Aug, Tuesday
			.calendar-item
				a(href='http://calendar.byu.edu/calendar/2012-08-28', title='Welcome Week 2012  @ Brigham Square - 12:00 PM ') Welcome Week 2012 
				span.time 12:00 PM
		.day
			h3
				span.date 29
				| Aug, Wednesday
			.calendar-item
				a(href='http://calendar.byu.edu/calendar/2012-08-29', title='Welcome Week 2012  @ Brigham Square - 12:00 PM ') Welcome Week 2012 
				span.time 12:00 PM
		ul#calendars
			li
				a(href='http://saas.byu.edu/calendar/') Academic Calendar
			li
				a(href='http://arts.byu.edu/') Arts Events
			li
				a(href='http://www.byucougars.com/schedule') Sports Schedules
		strong
			a(href='http://calendar.byu.edu/') Full Calendar

	#news
		h2 News
		#news-container
			.news-item
				img(src='images/news/feature-1.jpg', alt='News feature 1 (REPLACE THIS WITH RELEVANT DESCRIPTIVE TEXT)')
				h3
					a(href='#') News 1
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.news-item.omega
				img(src='images/news/feature-2.jpg', alt='News feature 2 (REPLACE THIS WITH RELEVANT DESCRIPTIVE TEXT)')
				h3
					a(href='#') News 2
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		strong
			a.baseline(href='#') Full News Page
